<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<%unless @action == "games" or @action=="top" %>
			<li class="active"><%= link_to "Recent Predictions", teamshow_path(@league,@team.id) %></li>
		<%else%>
			<li><%= link_to "Recent Predictions", teamshow_path(@league,@team.id) %></li>
		<%end%>

		<%if @action == "games"%>
			<li class="active"><%= link_to "All Games", teamshowgames_path(@league, @team.id) %></li>
		<%else%>
			<li><%= link_to "All Games", teamshowgames_path(@league, @team.id) %></li>
		<%end%>

		<%if @action == "top"%>
			<li class="active"><%= link_to "Top Experts", teamshowpredictors_path(@league, @team.id) %></li> 
		<%else%>
			<li><%= link_to "Top Experts", teamshowpredictors_path(@league, @team.id) %></li>
		<%end%>

	</ul>

</div>