<div class = "cover-wrap">

	<div class="cover-container">

		<ul class="horizontal-cover">

			<li class="subheader-league">
				<%= image_tag @team.image.url(:medium, :width => 30, :height => 30), class: "team-image-tiny"%><%= link_to @team.name, teamshow_path(@league, @team.id), class: "subheader-league"  %>
			</li>

			<li id="home"><%= link_to "Home", teamshow_path(@league, @team.name), {:class=>"subheader"} %></li>

			<li id="schedule"><%= link_to "Schedule", teamgameindex_path(@league, @team.name), {:class=>"subheader"} %></li>

			<li id="experts"><%= link_to "Experts", teamindexexperts_path(@league, @team.name), {:class=>"subheader"} %></li>

		</ul>
    
  </div>

</div>
