<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>

  <br>

  <strong>Sport Id:</strong>
  <%= @team.sport_id %>

  <br>

  <strong>League:</strong>
  <%= @team.league %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
