<%= render 'pages/league_home_header' %>

<%= render 'teams/teamshowcover'%>

<div class="user-dashboard-wrap">

  <div class ="user-dashboard-container">

    <%# render 'devise/user_subscription_nav'%>

    <div class="user-dashboard-left">

      <%= render 'predictors/top_predictors' %>

    </div>

    <div class ="user-dashboard-predictions">

      <%= render 'teams/league_team_nav' %>

      <%= render 'predictors/indexshow' %>

      <%# render 'prediction_games/indexshow' %>

    </div>

    <div class ="user-dashboard-card">

      <%= render 'games/upcoming_games'%>

      <%= render 'layouts/footer_float'%>

    </div>

  </div>
</div>