<script>
    $(document).ready(function(){
      $("#home").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover'%>

<div class="user-dashboard-wrap">

  <div class ="user-dashboard-container">

    <%# render 'devise/user_subscription_nav'%>

    <div class="user-dashboard-card">

      <%= render 'predictors/top_predictors_team' %>

      <%= render 'games/upcoming_games'%>

      <%= render 'layouts/footer_float'%>

    </div>

    <div class ="user-dashboard-predictions">

      <%# render 'teams/league_team_nav' %>

      <div id="divPredictionIndex">

        <% if @predictions.empty? %>

          <div class ="prediction-game-index-show empty">

            No predictions yet.     

            </div>

        <%else%>

          <% @predictions.each do |hash| %>
          
            <%= render partial: 'prediction_games/list_show', locals: {predictor: hash[:predictor], prediction: hash[:prediction], game: hash[:game]} %>

          <%end%>

        <%end%>

      </div>

<!--       <div id="divGameIndex" style="display: none;">
        <%# render 'games/indexshow' %>
      </div>

      <div id="divPredictorIndex" style="display: none;">
        <%# render 'predictors/indexshow' %>
      </div> -->
      

      <%# render 'prediction_games/indexshow' %>

    </div>

  </div>
</div>