<%= render 'pages/league_home_header' %>

<div class="user-dashboard-wrap">

  <div class ="user-dashboard-container">

    <%# render 'devise/user_subscription_nav'%>

    <div class="user-dashboard-left">

      <%= render 'teams/team_float_header'%>

      <%= render 'games/user_dashboard_games'%>

      <%= render 'layouts/footer_float'%>

    </div>

    <div class ="user-dashboard-predictions">

      <%= render 'prediction_games/find_experts_nav' %>

      <%= render 'prediction_games/indexshow' %>

      <%# render 'prediction_games/indexshow' %>

    </div>

    <div class ="user-dashboard-card">

      <%= render 'predictors/top_predictors' %>

    </div>

  </div>
</div>