<%= render 'pages/league_home_header' %>

<div class = "content-container">

  <div class="content-panel">

    <div class ="article-title-header">
      <h3>All <%=@team.name%> Games</h3>
      <h5><%= link_to @team.name + " Home »", teamshow_path(@league,@team.id), { :class=>"subheader" } %></h5>
    </div>

    <%= will_paginate @games %>

    <%= render 'games/indexgamesarchive' %>

    <%= will_paginate @games %>

  </div>
  
</div>