<script>
    $(document).ready(function(){
      $("#schedule").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover' %>

<div class="content-panel-wrap">
	
	<div class="content-panel">

		<div class="content-panel-container">
	    
	    	<h1><%=@team.name%> Schedule</h1>

	    	<div style="float:right; display: inline-block; position: relative">
			
				<select name="teamseason" onChange="window.location.href=this.value"/>
		      		
		      		<option value selected="selected" disabled="disabled">Season</option>

			      	<% @games.pluck(:season).uniq.each do |season| %>

						<option value=<%=teamgameindex_path(@team.league, @team.name, :season=>season)%>><%=season%>

					<%end%>

				</select>

			</div>

			<h5><%= @season + " Season" %></h5>

			<div class="large-table-container">

				<table class="game-schedule-table">

					<thead>
						<tr class="game-table-header">
							<th style="width: 100px; text-align:center;">DATE</th>
							<th style="width: 150px;">OPPONENT</th>
							<th style="width: 100px; text-align:center;">RESULT</th>
							<th style="width: 100px; text-align:center;">PREDICTIONS</th>
						</tr>
					</thead>

					<tbody>
						
					<%if @games_schedule.count == 0 %>

						<tr class="inset-shadow" style="text-align:center;">
							<td colspan="4">
								No Games Scheduled

							</td>

						</tr>

					<%else%>

						<% @games_schedule.each do |game| %>
							
							<tr data-link="<%=gameshow_path(game.league, game.id)%>" class="game-table-row">
								
								<td style="text-align:center;"><%=game.event_time.strftime("%b %e, %Y")%></td>
								<td>
									<%if Team.find(game.teama_id).name == @team.name %>
										@ <%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %>
									<%else%>
										VS <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %>

									<%end%>
								</td>

								<td style="text-align:center; font-weight:bold;">

									<% if game.status == "o" %>

										Pending

									<% else %>

										<% if game.game_winner == @team %>

											<a style="color:green; margin-right:5px;">W</a><%= game.winning_score.to_s + "-" + game.losing_score.to_s %>

										<% else %>

											<a style="color:red; margin-right:5px;">L</a><%= game.losing_score.to_s + "-" + game.winning_score.to_s %>

										<% end %>

									<% end %>

								</td>

								<td style="text-align:center;"><%= game.prediction_games.count%></td>
							</tr>

						<%end%>

					<%end%>

					</tbody>

				</table>

			</div>

		</div>

	</div>

</div>
