<script>
    $(document).ready(function(){
      $("#schedule").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover' %>

<div class="content-panel-wrap">
	
	<div class="content-panel">

		<div class="content-panel-container">
	    
	    	<h1><%=@team.name%> Schedule</h1>

	    	<div style="float:right; display: inline-block; position: relative">
			
				<select name="teamseason" onChange="window.location.href=this.value"/>
		      		
		      		<option value selected="selected" disabled="disabled">Season</option>

			      	<% @games.uniq.pluck(:season).each do |season| %>

						<option value=<%=teamgameindex_path(@team.league, @team.id, :season=>season)%>><%=season%>

					<%end%>

				</select>

			</div>

			<div class="large-table-container">

				<table class="game-schedule-table">

					<thead>
						<tr class="game-table-header">
							<th style="width: 150px;">MATCHUP</th>
							<th style="width: 200px;"></th>
							<th style="width: 100px; text-align:center;">DATE</th>
							<th style="width: 100px; text-align:center;">TIME</th>
							<th style="width: 100px; text-align:center;">PREDICTIONS</th>
						</tr>
					</thead>

					<tbody>
						
						<% @games_schedule.each do |game| %>
							
							<tr data-link="<%=gameshow_path(game.league, game.id)%>" class="game-table-row">
								<td><%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %></td>
								<td>at <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %></td>
								<td style="text-align:center;"><%=game.event_time.strftime("%b %e")%></td>
								<td style="text-align:center;"><%=game.event_time.strftime("%l:%M %p")%></td>
								<td style="text-align:center;"><%= game.prediction_games.count%></td>
							</tr>

						<%end%>

					</tbody>

				</table>

			</div>

		</div>

	</div>

</div>
