<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<%= @message.earnings_predictions.count %>

<% if @earnings_prediction %>

	<p>
		<strong>Forecast</strong>

		<%= @earnings_prediction.company  %>
		<%= @earnings_prediction.quarter %>
		<%= @earnings_prediction.year %>
		<%= number_to_currency(@earnings_prediction.eps_estimate).to_s %>
	</p>

<%end%>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
