<%= render 'predictors/predictorcover' %>

<div class = "content-container">

  <div class="content-panel">

    <div class = "header-inner">
      <h3>Edit Profile</h3>
      <h4>Change your basic profile settings</h4>
    </div>

    <div class ="predictor-edit-basic">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email %></div>

        <div><%= f.label :name %>
        <%= f.text_field :name %></div>

        <div><%= f.label :username %>
        <%= f.text_field :username %></div>

        <p> Profile Image </p>
        <%= image_tag current_predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%>
        <br>
        <%= f.file_field :image, class: "form-control" %>

    </div>

    <div class = "predictor-edit-confirm">

      <h3>Confirm Update</h3>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div><%= f.submit "Update" %></div>

    </div>

  <% end %>

    <div class = "predictor-edit-cancel">
      <h3>Cancel my account</h3>
    </div>
    
  </div>
  
</div>


