<div class = "console-container">

	<div class = "signup-container">

		<div class = "signup-form">

		<h2>Sign up</h2>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <%= f.hidden_field :balance, as: :integer, :label => false, :placeholder => 0 %>

			  <div><%= f.label :username %>
			  <%= f.text_field :username, autofocus: true, class: "signup-text"  %></div>


			  <div><%= f.label :email %>
			  <%= f.email_field :email,  placeholder: "you@example.com", class: "signup-text"  %></div>

			  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>

			    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "signup-text" %></div>

			  <!-- <div><%# f.label :password_confirmation %>
			    	<%# f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "signup-text" %></div> -->

			  <div><%= f.submit "CREATE ACCOUNT", class: "signup-submit" %></div>

			  <p class="terms-of-service">By registering your account, you agree to our Terms of Service and the  <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a></p>
			<% end %>

		</div>

	</div>

	<div class ="signup-extras">
				Already have an account? <%= link_to "Sign In", new_user_session_path, class: "signin-text-extra" %> <br>
				-OR- See Pricing to <%= link_to "Become an Onyx Expert", new_predictor_registration_path, class: "extra-text" %>
		</div>
	
</div>
