<%= form_for(@article) do |f| %>
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: "article-title-text" %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_time, as: :datetime, :label => false, :placeholder => @article.event_time %>
    <%= f.label :body %><br>
    <%= f.text_area :body, :rows => "10", class: "article-title-text" %>
    <%= f.hidden_field :event_id, as: :integer, :label => false, :placeholder => @game.id %>
  </div>


  <%= f.fields_for :prediction_games do |builder| %>

    <%= render "articles/predictiongames_fields", :f => builder %>
    
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
