<header>

  <script>
        $(document).ready(function(){
            $("#add-prediction").click(function(){
              $('#league-select').show(750)
              $("#rated").removeClass("active");
            });
        });

  </script>

</header>




<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%>
            <b><%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %></b>

<%= form_for(@article) do |f| %>

  <%= f.submit "Publish", class: "publish" %>
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article-form-container">

    <div class="field">
      <%= f.text_field :title, placeholder: "Title", autofocus: true, class: "article-title-text" %>
    </div>
    <div class="field">
      <%= f.hidden_field :event_time, as: :datetime, :label => false, :placeholder => @article.event_time %>
      <%= f.text_area :body, placeholder: "Your analysis...", :rows => "10", class: "article-body-text" %>
      <%# f.hidden_field :event_id, as: :integer, :label => false, :placeholder => @game.id %>
    </div>

  </div>

  <div class="article-prediction-container">

    <a class="add-prediction" id="add-prediction">+ Add a Prediction</a><a>Cancel</a>

    <%= link_to_add_fields "Add Prediction", f, :prediction_games %>

    <div id="team-select" style="display: none;">
      
      <select name="teamschedules" id="team-select-box">
            
            <option value selected="selected" disabled="disabled">Select League</option>

            <% Team.all.each do |team| %>

              <option><%=team.full_name%></option>

            <%end%>

      </select>

    </div>

    <%= f.fields_for :prediction_games do |builder| %>

      <%= render "articles/predictiongames_fields", :f => builder %>
      
    <% end %>

    <a id="test-area">Rooooar</a>

  </div>

  
<% end %>
