  <div class="content-wrap-outer">
  
    <div class="content-wrap">

      <div class ="main-content article">

        <div class = "content-panel sub">
  
          <div class="article-show-header">
              <%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%>
              <%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %>
              <%= render partial: 'predictors/futable_rating', locals: {predictor: predictor}%>
          </div>

          <div class="article-show-detail">
            
            <div class="article-title-text">
              <h1><%= link_to article.title, predictorarticleshow_path(predictor.username,article.id), class: "article-show-title" %></h1>
            </div>

            <div class="article-date"><a class="article-date-text"><%= article.created_at.strftime("%B %e, %Y") %></a></div>
            
            <div class="article-body-text">
              <p><%= article.body %></p>
            </div>

          </div>

          <div style="padding:10px;">

            <ul class="category-header-items">
    
              <% article.taggings.each do |tagging| %>

                <% @topic = Topic.find(tagging.tag_id) %>

                <li class="tag-items"><a href="<%= topic_show_page_path(@topic.url)%>"><%= @topic.name %></a></li>

              <%end%>

            </ul>

          </div>

          <div class="article-prediction-show">

            <h4 class="article-prediction-section-header">Predictions:</h4>

            <% if article.prediction_games.count == 0 %>

              <div style="font-size: 12px; color: #999; text-align:center; padding: 0px 10px 10px 10px;">
                
                No predictions for this article.

              </div>

            <% end %>

            <%article.prediction_games.each do |prediction|%>

              <% if prediction.game_id %>

                <% @game = Game.find(prediction.game_id)%>
                
                <a class="no-style" href = "<%= predictiongamesshow_path(predictor.username, prediction.id)%>">

                  <div class="article-prediction-list">

                    <table style="width:100%;">
                      <tr>
                        <td colspan="3" style="text-align:center;"><u><%= @game.league %>&#183;<%= @game.event_time.strftime("%a, %b %e")%></u></td>
                      </tr>

                      <tr>

                        <td><%= image_tag Team.find_by_name(@game.teamh).image.url(:medium), class: "team-image-tiny"%><%= Team.find_by_name(@game.teamh).full_name %></td>
                        <td style="text-align:right;"><%= prediction.teamh_score%></td>

                      </tr>

                      <tr>

                        <td><%= image_tag Team.find_by_name(@game.teama).image.url(:medium), class: "team-image-tiny"%><%= Team.find_by_name(@game.teama).full_name %></td>
                        <td style="text-align:right;"><%= prediction.teama_score%></td>

                      </tr>

                    </table>

                  </div>

                </a>

              <%end%>

            <%end%>

            <% if article.prediction_economies.count == 0 %>

              <div style="font-size: 12px; color: #999; text-align:center; padding: 0px 10px 10px 10px;">
                
                No predictions for this article.

              </div>

            <% end %>

            <%article.prediction_economies.each do |prediction|%>

              <% if prediction.type_id %>

                <% @price_item = PriceItem.find(prediction.type_id.to_i)%>
                
                <!-- <a class="no-style" href = "<%# predictiongamesshow_path(predictor.username, prediction.id)%>"> -->

                  <div class="article-prediction-list">

                    <%= @price_item.country.to_s + " " + @price_item.sub_category.to_s + " " + @price_item.strike_description.to_s + ": " + prediction.value.to_s %>

                  </div>

                <!-- </a> -->

              <%end%>

            <%end%>

          </div>

          <div class="article-show-actions">
            
            <%= render partial: 'articles/recommend_cta', locals: {article: article}%>

            <%= render partial: 'articles/bookmark_cta', locals: {article: article}%>
            
          </div>

          <div class="article-show-author">

            <div class="article-card-image">

              <%= image_tag predictor.image.url(:medium, :width => 60, :height => 60), class: "predictor-image-small"%>

            </div>

            <div class="article-card-content">

              <%= link_to predictor.username, predictordashboard_path(predictor.username), class: "article-show-author-name"%><%= render partial: 'predictors/follow_cta', locals: {predictor: predictor} %>
              <br>
              <p><%= predictor.bio %></p>

            </div>

          </div>

        </div>

      </div>

      <div class ="side-panel-content article">
        
        <div class="content-panel sub">

          <h3>More Posts from <%= predictor.username%></h3>

            <ol type="1" style="font-size: 16px;">
    
              <% @predictor_other_articles.each do |article| %>
                <a class ="top-article-link" href="<%=predictorarticleshow_path(predictor.username, article.id)%>">
                  <li class="top-article-item"><%= article.title %></li>
                </a>

              <%end%>

            </ol>

        </div>

        <% if article.taggings.count > 0 %>

          <div class="content-panel sub">

            <h3>Most Popular <%= Topic.find(article.taggings.first.tag_id).name %> Posts</h3>

              <ol type="1" style="font-size: 16px;">
      
                <% @predictor_other_articles.each do |article| %>
                  <a class ="top-article-link" href="<%=predictorarticleshow_path(predictor.username, article.id)%>">
                    <li class="top-article-item"><%= article.title %></li>
                  </a>

                <%end%>

              </ol>

          </div>

        <%end%>
      
      </div>

  </div>

</div>