<!-- <div id="sport-select">
<%# f.collection_select(:league, Sport.all, :subcat, :subcat, include_blank: true, :id=>'my-custom-class')%>
</div> -->

<div class="article-prediction-game-form">

  <select class="article_league_select">

      <option value="" disabled selected>Select a League</option>

        <% Sport.all.each do |league| %>

            <option value="<%=league.subcat%>"><%= league.subcat%></option>

          <%end%>

    </select>

  <!-- <div class="team-select">
    <%# f.grouped_collection_select(:teamh, Sport.all, :teams, :subcat, :id, :name, include_blank: true)%>
  </div> -->

    <select class="article_team_select">

      <option value="" disabled selected>Select a Team</option>

      <% Sport.all.each do |sport| %>
        
        <optgroup label="<%=sport.subcat%>">

          <% sport.teams.each do |team| %>

            <option value="<%=team.name%>"><%= team.name%></option>

          <%end%>

        </optgroup>

      <%end%>

    </select>


    <select class="article_game_select">

      <option value></option>

      <% Team.all.each do |team| %>
        
        <optgroup label="<%= team.name%>">

          <% team.team_games.each do |game| %>

            <option value="<%=game.id%>"><%= game.event_time.strftime("%m/%d/%g")%>: <%=game.teama%> @ <%=game.teamh%></option>

          <%end%>

        </optgroup>

      <%end%>

    </select>

    <fieldset class="final-score-select" style="display:none">

      <%= f.hidden_field :game_id, as: :integer, :label => false, :placeholder => 2, :class => 'game-id-input' %>
      <%= f.hidden_field :teamh, as: :string, :label => false, :placeholder => 2, :class => 'teamh-input' %>
      <%= f.hidden_field :teama, as: :string, :label => false, :placeholder => 2, :class => 'teama-input' %>
      <%= f.hidden_field :event_time, as: :datetime, :label => false, :placeholder => 2, :class => 'event-time-input' %>

      <h4>Final Score Prediction</h4>
      <div class="team-container" style="height:80px;">
        <a class="article_prediction_game_teamh">Home Team</a><%= f.number_field :teamh_score, :maxlength=>"3" %><br><br>

        <a class="article_prediction_game_teama">Away Team</a><%= f.number_field :teama_score, :maxlength=>"3" %>
      </div>

      </div>

    </fieldset>



</div>
