<div class = "content-panel sub">
	 	
	 	<% if predictor_signed_in? %>

		 	<% if article.recommended_by_user_I_follow(current_predictor.id).present? %>
	 			
	 			<div class="article-show-reason">
	 			Recommended by <%= link_to article.recommended_by_user_I_follow(current_predictor.id).username, predictordashboard_path(article.recommended_by_user_I_follow(current_predictor.id).username), class: "full-name in-text" %> <% if article.recommendation_count > 2 %>and <%=article.recommendation_count - 1 %> others<%elsif article.recommendation_count == 2%>and 1 other<%end%>

	 			</div>

	 		<%else%>

	 			<% if article.recommended_by_staff %>

	 				<div class="article-show-reason">
	 					Recommended by Futable staff <% if article.recommendation_count > 2 %>and <%=article.recommendation_count - 1 %> others<%elsif article.recommendation_count == 2%>and 1 other<%end%>
	 				</div>

	 			<%end%>


	 		<%end%>

	 	<%else%>

	 		<% if article.recommended_by_staff %>

 				<div class="article-show-reason">
 					Recommended by Futable staff <% if article.recommendation_count > 2 %>and <%=article.recommendation_count - 1 %> others<%elsif article.recommendation_count == 2%>and 1 other<%end%>
 				</div>

	 		<%end%>

 		<%end%>

 	<div class="article-show-header">
    	<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%>
    	<%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %>
    	<a class="onyx-rating"><%= predictor.onyx_rating.to_i %></a>
  	</div>

 	<div class="article-show-detail">
 		<div class="article-title-text">
 		<%= link_to article.title, predictorarticleshow_path(predictor.username,article.id), class: "article-show-title" %>
 		</div>

 		<div class="article-date"><a class="article-date-text"><%= article.created_at.strftime("%B %e, %Y") %></a></div>
		
 		<div class="article-body-text">
			<%= article.body %>
		</div>

		<div class="article-read-more">
			<%= link_to "Read more...", predictorarticleshow_path(predictor.username,article.id) %>
		</div>

		<div class="article-show-actions">
            
            <%= render partial: 'articles/recommend_cta', locals: {article: article}%>

            <%= render partial: 'articles/bookmark_cta', locals: {article: article}%>

          </div>

	</div>

</div>
 	
