<div class = "content-panel sub">
 	
 	<div class="article-show-header">
    	<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%>
    	<%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %>
  	</div>

 	<div class="article-show-detail">
 		<div class="article-title-text">
 		<%= link_to article.title, predictorarticleshow_path(predictor.username,article.id), class: "article-show-title" %>
 		</div>

 		<div class="article-date"><a class="article-date-text"><%= article.created_at.strftime("%B %e, %Y") %></a></div>
		
 		<div class="article-body-text">
			<%= article.body %>
		</div>

		<div class="article-read-more">
			<%= link_to "Read more...", predictorarticleshow_path(predictor.username,article.id) %>
		</div>

	</div>

</div>
 	
