<%= form_for(@sport) do |f| %>
  <% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% @sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subcat %><br>
    <%= f.text_field :subcat %>
  </div>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>

    <%= f.label :banner_image %>
    <%= f.file_field :banner_image, class: "form-control" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
