<p id="notice"><%= notice %></p>

<p>
  <strong>Subcat:</strong>
  <%= @sport.subcat %>
</p>

<%= image_tag @sport.image.url(:thumb) %>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
