<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @topic.url %>
</p>

<p>
  <strong>Parent tag:</strong>
  <%= @topic.parent_tag_id %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
