<div class="edit-side-container">
  <div class="edit-side-content">

  	<ul class="edit-sidebar">
  		<li><a class="sidebar-header">Edit Profile</a></li>

      <% if user_signed_in?%>

    		<% if @action == "basic" %>
    			<li class="sidebar-listing active"><%= link_to "Basic Information", edit_user_registration_path, class: "edit-listing active"%></li>
    		<%else%>
    			<li class="sidebar-listing"><%= link_to "Basic Information", edit_user_registration_path, class: "edit-listing"%></li>
    		<%end%>

    		<% if @action == "payment" %>
    			<!-- <li class="sidebar-listing active"><%# link_to "Payments", new_charge_path, class: "edit-listing active"%></li> -->
          <li class="sidebar-listing active"><%= link_to "Payment Information", payments_path, class: "edit-listing active"%></li>
    		<%else%>
    			<!-- <li class="sidebar-listing"><%# link_to "Payments", new_charge_path, class: "edit-listing"%></li> -->
          <li class="sidebar-listing"><%= link_to "Payment Information", payments_path, class: "edit-listing"%></li>
    		<%end%>

      <%elsif predictor_signed_in?%>

        <% if @action == "basic" %>
          <li class="sidebar-listing active"><%= link_to "Basic Information", edit_predictor_registration_path, class: "edit-listing active"%></li>
        <%else%>
          <li class="sidebar-listing"><%= link_to "Basic Information", edit_predictor_registration_path, class: "edit-listing"%></li>
        <%end%>

        <%if current_predictor.account%>

          <% if @action == "payment" %>
            <li class="sidebar-listing active"><%= link_to "Payee Information", predictorpayeeedit_path, class: "edit-listing active"%></li>
          <%else%>
            <li class="sidebar-listing"><%= link_to "Payee Information", predictorpayeeedit_path, class: "edit-listing"%></li>
          <%end%>

          <% if @action == "bank" %>
            <li class="sidebar-listing active"><%= link_to "Bank Account", bank_account_new_path, class: "edit-listing active"%></li>
          <%else%>
            <li class="sidebar-listing"><%= link_to "Bank Account", bank_account_new_path, class: "edit-listing"%></li>
          <%end%>

        <%end%>

      <%end%>

  		<li><%=link_to "Cancel Account", root_path, class: "cancel-account"%></a></li>
  	</ul>

  </div>
</div>