<div class="edit-side-container">
  <div class="edit-side-content">

  	<ul class="edit-sidebar">
  		<li><a class="sidebar-header">My Profile</a></li>
  		<li class="sidebar-listing"><%= link_to "Purchased Predictions", dashboard_path, class: "edit-listing" %></li>
  		<li class="sidebar-listing"><%= link_to "Basic Information", edit_user_registration_path, class: "edit-listing"%></li>
  		<li class="sidebar-listing"><%= link_to "Add Funds", new_charge_path, class: "edit-listing"%></li>
  		<li class="sidebar-listing"><%= link_to "Payment Information", root_path, class: "edit-listing"%></li>
  		<li><%=link_to "Cancel Account", root_path, class: "sidebar-header cancel-account"%></a></li>
  	</ul>

  </div>
</div>