<% if user_signed_in? %>

  <table class ="prediction-index-fold table table-hover">
    <thead>
    <tr>
      <th class="prediction-index-fold-th">Name</th>
      <th class="prediction-index-fold-th">Predictor Rating</th>
      <th class="prediction-index-fold-th"># of Predictions (league param)</th>
      <th class="prediction-index-fold-th">Last Prediction</th>
      
    </tr>
    </thead>

    <tbody>

      <% if @predictors.count == 0 %>

        <tr class="prediction-table-row">
            <td colspan="4" class="no-active-games">No Predictors</td>
        </tr>

      <% else %>

        <% @predictors.each do |predictor| %>

      <%# if predictor.prediction_games.where(:league =>params[:league]).count > 0 %>
        
      <%if predictor.username == "" or predictor.username.nil? %>
          <tr class="prediction-table-row" href="/">
      <%else%>
          <tr data-link="<%=predictorindexpredictionsall_path(predictor.username)%>", class="prediction-table-row">
      <% end%>

            <td><%= predictor.id %></td>
            <td><%= "rating placeholder" %></td>
            <td><%= predictor.prediction_games.count %></td>
            <td><%= "Sort and add link to most recent" %></td>
          
          </tr>

      <% end %>

    </tbody>

  <% end %>

</table>

<% end %>