<div class="container-dash">

<% if user_signed_in? %>

<div class="container-dash">

  <form class="filter_form">

      <%= select("predictor", "sort_param", ["Rating (League)", "Rating (Overall)", "# of Predictions","Date Joined", "Subscription Price"], :prompt => "Sort By") %>

    <input type="submit" value="Sort" />
  </form>

      <div class="prediction-table-holder">

        <table class ="prediction-index-fold table table-hover">
          <thead>
          <tr>
            <th class="prediction-index-fold-th">Name</th>
            <th class="prediction-index-fold-th">Predictor Rating (League param)</th>
            <th class="prediction-index-fold-th">Predictor Rating (Overall)</th>
            <th class="prediction-index-fold-th">Join Date</th>
            <th class="prediction-index-fold-th"># of Predictions (league param)</th>
            <th class="prediction-index-fold-th"></th>
            
          </tr>
          </thead>


          <% @predictors.each do |predictor| %>

            <tbody>

              <%# if predictor.prediction_games.where(:league =>params[:league]).count > 0 %>
            
                <tr class="prediction-table-row" href="/">  
                  <td><%= predictor.id %></td>
                  <td><%= "rating placeholder" %></td>
                  <td><%= "89" %></td>
                  <td><%= predictor.created_at.strftime("%D at %l:%d%p") %></td>
                  <td><%= predictor.prediction_games.count %></td>
                  <td>See All Predictions</td>
                </tr>

              <%# end %>

            </tbody>

          <% end %>

      </table>

      </div>

  </div>

<% end %>

</div>