<% if user_signed_in? %>

      <% if @predictors.count == 0 %>
          
        <div class ="prediction-game-index-show empty">

        Follow experts you find interesting to see their predictions in your dashboard.     

        </div>

      <% else %>
      
        <% @predictors.each do |predictor| %>

          <div class ="predictor-card">

            <div class="predictor-card-header">

            </div>

            <div class="predictor-card-body">
              
                <%= image_tag predictor.image.url(:medium), class: "predictor-image-card"%>
                
                <%= render partial: 'predictors/predictor_subscribe_cta', locals: {predictor: predictor} %>

                <br>

                <br>

                <h3><%= link_to predictor.username, predictordashboard_path(predictor.username), class: "predictor-card-name"%> </h3>




                <script>
                  $(document).ready(function(){
                      $('[data-toggle="popover"]').popover(); 
                  });
                  </script>

                  <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>

                <a>
                <paper-button raised toggles>Raised button
                </paper-button>
                </a>

                <div style="position:relative">
                  <paper-ripple>Hello</paper-ripple>
                </div>

                <!-- need to implement action that initiates payment on each purchase due, maybe -->

                <% @purchases = Purchase.all.where(:user_id=> current_user.id, :predictor_id => predictor.id) %>

                <% @purchases.each do |purchase| %>
                  <%= purchase.next_payment   %>
                <%end%>

                <a class="index-float"><%= predictor.bio %></a>

            </div>

          </div>
    
        <% end %>

      <%end%>

<% end %>