<% if user_signed_in? %>

      <% if @predictors.count == 0 %>
          
        <a class="no-active-games">No Experts</a>

      <% else %>
      
        <% @predictors.each do |predictor| %>
    
          <% @predictor = predictor[:predictor] %>

          <div class ="predictor-card">
            <div class="predictor-card-header">

            </div>

            <div class="predictor-card-body">
              
                <%= image_tag @predictor.image.url(:medium), class: "predictor-image-card"%>

                <%= render 'predictor_subscribe_cta' %>

                <br>

                <br>

                <h3><%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-card-name"%> </h3>

                <% @purchases = Purchase.all.where(:user_id=> current_user.id, :predictor_id => @predictor.id) %>

                <% @purchases.each do |purchase| %>
                  <%= purchase.next_payment   %>
                <%end%>

                <a class="index-float"><%= @predictor.bio %></a>

            </div>

          </div>
    
        <% end %>

      <%end%>

<% end %>