<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 
    
    <div class="predictor-cover-summary"> 

      <div class="predictor-image-small-container">
      <%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%>
      </div>

      <div class="predictor-cover-summary-bio">
        <%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-name"%>
        <br>
        <a class="white-text"><%=@predictor.bio%></a>
      </div>

    </div>

    <div class="predictor-cover-details"> 
      <a class="white-text"><%=@predictor.prediction_games.count%> PREDICTIONS / <%=@predictor.articles.count%> POSTS</a>
      <br>

      <%if predictor_signed_in? and current_predictor.id == :id%>
      <a class="white-text"><%=@predictor.users.count%> SUBSCRIBERS</a>
      
      <br>

      <%end%>

      <%unless Purchase.exists?(:user_id=> current_user.id,:predictor_id=>@predictor.id) %>
        <%= link_to "Follow for Free", follow_predictor_path(:username=>@predictor.username), {:class=>"submit_cta" }%>
      <% end %>

      <%unless Purchase.exists?(:user_id=> current_user.id,:predictor_id=>@predictor.id, :premium=>true) %>
        <%= link_to "Subscribe for $5.00", subscribe_to_predictor_path(:username=>@predictor.username), {:class=>"submit_cta" }%>
      <%end%>

    </div>

  </div>

</div>