<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 

  	<div class="predictor-cover-name">

  		<%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "article-show-author-name profile"%><a class="onyx-rating" title="Predictive Accuracy Rating"><%= @predictor.onyx_rating.to_i %></a>
  		<br>

  		<p class="bio"><%= @predictor.bio %></p>

  		<div class="follower-count">
  			<b><%= @predictor.followers.count %></b> Followers | <b><%= @predictor.followings.count %></b> Following
  		</div>

  		<%= render partial: 'predictors/follow_cta', locals: {predictor: @predictor} %>

  	</div>

  	<div class="predictor-cover-img">

  		<%= image_tag @predictor.image.url(:medium, :width => 100, :height => 100), class: "predictor-image-medium"%>
  	</div>

  </div>

</div>