<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 

  	<div class="predictor-cover-name">

  		<%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "article-show-author-name profile"%>

      <% if @predictor.onyx_rating.to_i > 0 %>

        <a class="onyx-rating predictor-profile" title="Predictive Accuracy Rating" style="<%= @predictor.onyx_rating_category[:style_code] %>" href="<%=predictor_rating_path(@predictor.username)%>"><%= @predictor.onyx_rating_category[:rating_string] %></a>

      <%else%>

        <a class="onyx-rating unrated predictor-profile" title="Predictive Accuracy Rating" href="<%=predictor_rating_path(@predictor.username)%>">Unrated</a>

      <%end%>

  		<br>

  		<p class="bio"><%= @predictor.bio %></p>

  		<div class="follower-count">
  			<b><%= @predictor.followers.count %></b> Followers | <b><%= @predictor.followings.count %></b> Following
  		</div>

  		<% if predictor_signed_in?%>

        <% unless @predictor.id == current_predictor.id %>

          <% unless @predictor.has_follower_active(current_predictor.id) %>

              <a class="follow-button predictor-profile" id="<%=@predictor.id %>">Follow</a>

            <% else %>

              <a class="follow-button following predictor-profile" id="<%=@predictor.id %>">Following</a>

          <% end %>

        <%else%>

          (You)

        <%end%>

    <%else%>

      <a href="<%=new_predictor_session_path%>" class="follow-button-no-js predictor-profile" id="<%=@predictor.id %>">Follow</a>

    <%end%>

  	</div>

  	<div class="predictor-cover-img">

  		<%= image_tag @predictor.image.url(:medium, :width => 100, :height => 100), class: "predictor-image-medium"%>
  	</div>

  </div>

</div>