<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 

    <h1><%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%><%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-name"%></h1>

     <div style="float:right; display: inline-block; position: relative">
      <%=render 'predictors/predictor_follow_cta'%>
    </div>

    <br>
    
    <a><%=@predictor.bio%></a>

    <div style="float:right; display: inline-block; position: relative">
      <%=render 'predictors/predictor_follow_cta'%>
    </div>

  </div>

</div>

<div class = "cover-wrap">

  <div class="cover-container">

    <ul class="horizontal-cover center">

<!--       <li class="subheader-league">
        <%# image_tag Sport.find_by_subcat(@league).image.url(:medium, :width => 30, :height => 30), class: "sport-image-small"%><%# link_to @league, leaguehome_path(@league), class: "subheader-league"  %>
      </li>

      <li id="home"><%# link_to "Home", leaguehome_path(@league), {:class=>"subheader"} %></li> -->
      <li id="recent"><a class="subheader">Recent</a></li>
      <li id="active"><a class="subheader">Active</a><a class="badge"><%=@predictor.active_prediction_count%></a></li>
      <li id="rated"><a class="subheader">Rated</a></li>

    </ul>
    

  </div>

</div>

      <a><%=@predictor.prediction_games.count%> PREDICTIONS (<%=@predictor.active_prediction_count%> ACTIVE, <%=@predictor.rated_prediction_count%> RATED)</a>
      <br>



      <%if predictor_signed_in? and current_predictor.id == :id%>
      <a><%=@predictor.users.count%> SUBSCRIBERS</a>
      
      <br>

      <%end%>