<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 
    
    <div class="predictor-cover-summary"> 

      <div class="predictor-image-small-container">
      <%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%>
      </div>

      <div class="predictor-cover-summary-bio">
        <%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-name"%>
        <br>
        <a><%=@predictor.bio%></a>
      </div>

    </div>

    <div class="predictor-cover-details"> 
      <a><%=@predictor.prediction_games.count%> PREDICTIONS (<%=@predictor.active_prediction_count%> ACTIVE, <%=@predictor.rated_prediction_count%> RATED)</a>
      <br>



      <%if predictor_signed_in? and current_predictor.id == :id%>
      <a><%=@predictor.users.count%> SUBSCRIBERS</a>
      
      <br>

      <%end%>

      <br>
      <%=render 'predictors/predictor_follow_cta'%>
      <!-- <br> -->
      <%#render 'predictors/predictor_subscribe_cta'%>

    </div>

  </div>

</div>