<div>

  <h1 class="home-hello">Hello <a href='<%=predictordashboard_path(predictor.username)%>' class="no-style"><%= predictor.name%></a></h1>

</div>

<%= form_for(@message) do |f| %>

  <div class="home-message-container">

      <div class="profile-image-float">

        <a href='#' class="profile-image" title="Futable Account: <%= current_predictor.username %> (You)"><span><%= image_tag current_predictor.image.url(:medium), class: "predictor-image-home"%></span></a>

      </div>

      <div class="home-message">

        <% if @message.errors.any? %>

          <div id="error_explanation">

            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>

            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>

            <% end %>

            </ul>

          </div>

        <% end %>

        <%= f.text_area :body, placeholder: "Share a forecast (use $ before ticker: e.g., $AAPL)", :rows => "2", autofocus: false, class: "message-text" %>

    </div>

  </div>

  <div class="home-publish-container">

    <%= f.submit "Share", class: "publish-message" %>

  </div>

  <br>

  <%= link_to_add_fields "+ Add Forecast", f, :earnings_predictions %>

<% end %>