<%= render 'predictors/predictorcover' %>

<div class="content-wrap-outer">

	<div class="content-wrap">

		<div class ="main-content index">

			<h3>Recent Articles</h3>

			<% @articles_recent.each do |article|%>

			  <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

			<%end%>

			<h3>Recent Predictions</h3>

			<% if @predictions_recent.empty? %>

					<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> has not yet made any predictions      

	  				</div>

				<%else%>

					<% @predictions_recent.each do |hash| %>

        				<%= render partial: 'prediction_games/list_show', locals: {predictor: @predictor, prediction: hash[:prediction], game: hash[:game]} %>

        			<%end%>

        		<%end%>


		</div>

		<div class="side-panel-content index">

			<div class="content-panel sub">

			  <%= render 'predictors/top_articles' %>

			</div>

		</div>			
	
	</div>

</div>