<%= render 'predictors/predictorcover' %>

<%= render 'layouts/header_sub' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-left">

			<%= render 'prediction_games/predictor_top_prediction_games'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%= render 'predictors/predictor_dashboard_prediction_nav' %>

	    	<%= render 'prediction_games/indexshow'%>

	    	<nav>
				<div class="center">
					<%# will_paginate @predictions, renderer: BootstrapPagination::Rails %>
				</div>
			</nav>

		</div>

	   	<div class ="user-dashboard-card">
	      <%= render 'prediction_games/predictor_rating_distribution' %>

	      <%= render 'layouts/footer_float'%>

	  	</div>

	  </div>

</div>
