<%= render 'predictors/predictorcover' %>

<%= render 'predictors/cover_nav_header'%>

<div class="content-wrap-outer">

	<div class="content-wrap">

		<div class ="main-content index">

			<h3>Recent Posts</h3>

			<% if @articles_recent.empty?%>

				<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> has not yet made any posts.      

	  			</div>

	  		<%else%>

				<% @articles_recent.take(5).each do |article|%>

				  <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

				<%end%>

			<%end%>

			<h3>Recent Predictions</h3>

			<% if @predictions_recent.empty? %>

					<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> has not yet made any predictions.      

	  				</div>

				<%else%>

					<% @predictions_recent.take(5).each do |hash| %>

        				<%= render partial: 'prediction_games/list_show', locals: {predictor: @predictor, prediction: hash[:prediction], game: hash[:game]} %>

        			<%end%>

        		<%end%>


		</div>

		<div class="side-panel-content index">

			<div class="content-panel sub" style="margin-top: 35px;">

			  <%= render 'predictors/top_articles' %>

			</div>

			<div class="content-panel sub">

				<h4>Top Predictions by <%= @predictor.username%></h4>
				
				<table style="width: 100%;">
					<% @predictions_top.each do |prediction| %>	
						<%= render partial: 'prediction_games/predictor_top_prediction_games', locals: {predictor: @predictor, prediction: prediction[:prediction], game: prediction[:game]} %>
					<%end%>
				</table>

			</div>

			<div class="content-panel sub">

				<h4>Recent Recommendations</h4>

				<ol type="1" style="font-size: 16px;">
		
					<% @predictor.recommendations.sort_by {|k| k.created_at }.reverse.each do |recommendation| %>

						<% article = Article.find(recommendation.article_id) %>

						<a class ="top-article-link" href="<%=predictorarticleshow_path(Predictor.find(article.predictor_id).username, article.id)%>">
							<li class="top-article-item"><%= article.title %></li>
						</a>

					<%end%>

				</ol>

			</div>

		</div>			
	
	</div>

</div>