<%= render 'predictors/predictorcover' %>
<%= render 'predictors/predictorcovernav' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="content-title-header">
			<h3><%=@predictor.name%>'s Predictions</h3>
			<h5><%= link_to @predictor.name + "'s Profile »", predictordashboard_path(@predictor.username) %></h5>
		</div>

		<%# render 'prediction_games/predictiongameheadernav' %>
		<%= render 'prediction_games/index' %>
		
	</div>
	
</div>
