<script>
    $(document).ready(function(){
    	$("#recent").addClass("active");
    });
</script>

<%= render 'predictors/predictorcover' %>

<%= render 'predictors/predictorcover_sub' %>

<%# render 'layouts/header_sub' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class ="user-dashboard-card">

			<div class="outline-shadow">

				<h3>Top Predictions</h3>

				<% if @predictions_top.empty? %>

					<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> has not yet made any predictions      

	  				</div>

				<%else%>

					<table class="user-dashboard-table">

						<% @predictions_top.each do |hash| %>

	        				<%= render partial: 'prediction_games/predictor_top_prediction_games', locals: {predictor: @predictor, prediction: hash[:prediction], game: hash[:game]} %>

	        			<%end%>

        			</table>

        		<%end%>

        	</div>

			<%= render 'prediction_games/predictor_rating_distribution' %>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%# render 'predictors/predictor_dashboard_prediction_nav' %>


			<div id="divRecentIndex">
				<%# @predictions_recent %>
        		<%# render 'prediction_games/indexshow' %>

				<% if @predictions_recent.empty? %>

					<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> has not yet made any predictions      

	  				</div>

				<%else%>

					<% @predictions_recent.each do |hash| %>

        				<%= render partial: 'prediction_games/list_show', locals: {predictor: @predictor, prediction: hash[:prediction], game: hash[:game]} %>

        			<%end%>

        		<%end%>

			</div>

			<div id="divTopIndex" style="display: none;">
				
				<% if @predictions_rated.empty? %>

					<div class ="prediction-game-index-show empty">

						<%= @predictor.username %> does not yet have any rated predictions.      

	  				</div>

				<%else%>

					<% @predictions_rated.each do |hash| %>

						<%= render partial: 'prediction_games/list_show', locals: {predictor: @predictor, prediction: hash[:prediction], game: hash[:game]} %>

        			<%end%>

        		<%end%>

			</div>

		</div>

	</div>

</div>
