<%= render 'predictors/predictorcover' %>
<%= render 'predictors/predictorcovernav' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="article-title-header">
			<h3><%=@predictor.name%>'s Predictions</h3>
		</div>

		<div class="predictor-prediction-index-container">

			<%= render 'prediction_games/predictiongameheadernav' %>
			<%= render 'prediction_games/predictorindexpredictiongames' %>

		</div>
		
	</div>
	
</div>
