<%= render 'predictors/predictorcover' %>

<%# render 'layouts/header_sub' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class ="user-dashboard-card">

			<%= render 'prediction_games/predictor_top_prediction_games'%>

			<%= render 'prediction_games/predictor_rating_distribution' %>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%= render 'predictors/predictor_dashboard_prediction_nav' %>


			<div id="divrecentIndex">
        		<%= render 'prediction_games/indexshow' %>
			</div>

			<div id="divUpcomingIndex" style="display: none;">
				<%# render 'games/indexshow' %>
			</div>

			<div id="divTopIndex" style="display: none;">
				<%# render 'predictors/indexshow' %>
			</div>

	    	<%# render 'prediction_games/indexshow'%>

		</div>

	  </div>

</div>
