<div class="confirm-wrap">

	<div class="confirm-container">
		    
	    <h1>Confirm Premium Upgrade</h1>


	    <h1><%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%><%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-name"%></h1>

	    <% if @price > 0 %>
	    
	    	<h3 style="color:#11a657;"><%=number_to_currency(@price).to_s + "/month"%></h3>

	    <%else%>

	    	<h3 style="color:#11a657;">Free!</h3>

	    <%end%>


	<!-- 	    <div class="large-table-container"> -->

			<% if @payment_source == false %>

				<div class="card-form-container">

					<%= render 'cards/newcardform' %>

				</div>

			<% end %>

		    

	    <div class="confirm-button">

	    	<%= link_to "Confirm", subscribe_path(:username=>@predictor.username), {:class=>"hero_cta" }%>

		</div>

	</div>

</div>