<h1>Listing price_items</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Display</th>
      <th>Strike date</th>
      <th>Strike description</th>
      <th>Country</th>
      <th>Value</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_items.each do |price_item| %>
      <tr>
        <td><%= price_item.description %></td>
        <td><%= price_item.country + " " + price_item.sub_category + " " + price_item.strike_description %></td>
        <td><%= price_item.strike_date %></td>
        <td><%= price_item.strike_description %></td>
        <td><%= price_item.country %></td>
        <td><%= price_item.value %></td>
        <td><%= price_item.category %></td>
        <td><%= link_to 'Show', price_item %></td>
        <td><%= link_to 'Edit', edit_price_item_path(price_item) %></td>
        <td><%= link_to 'Destroy', price_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price item', new_price_item_path %>
