<% if user_signed_in? %>

  <%= render 'layouts/header_sub' %>

  <div class="user-dashboard-wrap">

    <div class ="user-dashboard-container">

      <div class ="user-dashboard-card">

        <%= render 'pages/user_dashboard_summary' %>

        <%= render 'predictors/recommendations' %>

        <%= render 'games/upcoming_games'%>

        <%= render 'layouts/footer_float'%>

      </div>

      <div class ="user-dashboard-predictions">

        <div id="divPredictionIndex">
          <%= render 'prediction_games/indexshow' %>
        </div>

        <div id="divPredictorIndex" style="display: none;">
          <%= render 'predictors/index'%>
        </div>

      </div>

    </div>

  </div>

<%end%>