<% if user_signed_in? %>
  <%# render 'layouts/header_sub_import' %>
  <%# render 'layouts/header_sub' %>

  <div class="user-dashboard-wrap">

    <div class ="user-dashboard-container">

      <div class ="user-dashboard-card">

        <%= render 'pages/user_dashboard_summary' %>

        <%= render 'predictors/recommendations' %>

        <%= render 'games/upcoming_games'%>

        <%= render 'layouts/footer_float'%>

      </div>

      <div class ="user-dashboard-predictions">

        <%= render 'pages/user_dashboard_prediction_nav'%>

        <div id="divPredictionIndex">
            
            <% if @predictions.empty? %>

              <div class ="prediction-game-index-show empty">

                Follow experts to view predictions in your dashboard.      

              </div>

          <%else%>

            <% @predictions.each do |hash| %>
              
              <%= render partial: 'prediction_games/list_show', locals: {predictor: hash[:predictor], prediction: hash[:prediction], game: hash[:game]} %>

            <%end%>

        </div>

        <div id="divWatchingIndex" style="display: none;">
          <%= render 'predictors/index'%>
        </div>

        <div id="divSubscriptionIndex" style="display: none;">
          <%= render 'predictors/indexsubscriptions'%>
        </div>

      </div>

    </div>

  </div>

<%end%>