<div class="home-forecast-form">

  <%= f.hidden_field :_destroy %>
  <%= link_to "+", '#', class: "remove_fields cancel-prediction" %>

  <table class="forecast-form-table">

    <tbody class="forecast-form-body">

      <tr>
        <td colspan="2"><h4 class="forecast-form-header">Earnings Per Share Forecast</h4></td>
      </tr>

      <tr class = "company-quarter-year-input">
        
        <td class="company-quarter-year-cell" colspan="2">

            <span class="company-input"><%= f.text_field :company, data: {autocomplete_source: companies_quicksearch_path}, placeholder: "Company", autofocus: false, class: "forecast_company_text", id: "forecast_company_text"%> <input id="field_id" name="link[origin_id]" type="hidden"/></span>

            <span class="quarter-input">

              <%= f.select :quarter, ["Q1", "Q2", "Q3", "Q4"], {}, { :class => 'forecast_quarter_select' } %>

            </span>

            <span class="year-input">
              
              <%= f.select :year, ["2016", "2017", "2018"], {}, { :class => 'forecast_year_select' } %>

            </span>

        </td>

      </tr>

      <tr>
        <td colspan="2"><h5>Forecast</h5></td>
      </tr>

      <tr>
        <td colspan="2"><span class="forecast-input"><%= f.text_field :eps_estimate, placeholder: "$0.00", autofocus: false, class: "forecast_eps_estimate_number", :value => (number_with_precision(f.object.eps_estimate, :precision => 2) || 0) %></span></td>
      </tr>

      <tr>
        <td colspan="2" class="forecast-save-button-container"><a class ="forecast-save-button add">Add</a><a class ="forecast-save-button cancel">Cancel</a></td>
      </tr>

    </tbody>

  </table>

</div>
