<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<%unless @subaction == "upcoming" or @subaction=="top" %>
			<li class="active"><%= link_to "Recent Predictions", leaguehome_path(@league) %></li>
		<%else%>
			<li><%= link_to "Recent Predictions", leaguehome_path(@league) %></li>
		<%end%>

		<%if @subaction == "upcoming"%>
			<li class="active"><%= link_to "Upcoming Games", leaguegames_path(@league) %></li>
		<%else%>
			<li><%= link_to "Upcoming Games", leaguegames_path(@league) %></li>
		<%end%>

		<%if @subaction == "top"%>
			<li class="active"><%= link_to "Top Experts", leaguepredictors_path(@league) %></li>
		<%else%>
			<li><%= link_to "Top Experts", leaguepredictors_path(@league) %></li>
		<%end%>

	</ul>

</div>