<% unless admin_signed_in?%>
<div class="content-league-header-container">
  <div class="content-league-header">

  	<nav class="navbar navbar-default">

	  	<ul class="nav navbar-nav">
	  		
	  		<li><%= image_tag Sport.find_by_subcat(@league).image.url(:medium, :width => 30, :height => 30), class: "sport-image-small"%></li>
	  		<li><a class="subheader-league" href="/"><%=@league%></a></li>
        <li><%= link_to "Home", leaguehome_path(@league), { :class=>"subheader" } %></li>
        <li><%= link_to "Picks", leaguepredictionindex_path(@league), { :class=>"subheader" } %></li>
        <li><%= link_to "Posts", leaguearticleindex_path(@league), { :class=>"subheader" } %></li>
        <li class="dropdown">
          <a href="#" class="subheader" data-toggle="dropdown" role="button" aria-expanded="false">Games<span class="caret"></span></a>
          <ul class="dropdown-menu submenu-drop" role="menu">
            <%=render'games/gamesummarymenu'%>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="subheader" data-toggle="dropdown" role="button" aria-expanded="false">Teams<span class="caret"></span></a>
            <ul class="dropdown-menu submenu-drop" role="menu">
              
              <%=render'sports/leaguesummarymenu'%>
            </ul>
          </li>
	    </ul>

	</nav>	

  </div>
</div>

<%end%>




