<div class = "cover-wrap">

  <div class="cover-container">

    <table class="game-show-cover">
      <td class="table-float-left"><%=link_to @game.teama, teamshow_path(@league,@teama.id), class: "game-team-name" %><%= image_tag @teama.image, class: "team-image-tiny"%></td>
      <td class="table-center"> <%= @game.event_time.strftime("%-m/%-d")%> <br> <%= @game.event_time.strftime("%l:%M %p") %></td>
      <td class="table-float-right"><%= image_tag @teamh.image, class: "team-image-tiny"%><%= link_to @game.teamh , teamshow_path(@league,@teamh.id), class: "game-team-name"%> </td>

    </table>

    <% if @action =="games" and predictor_signed_in? %>
        <% unless current_predictor.prediction_games.where(:game_id => @game.id).present? %>
          <div class="orange-cta-container"%>
            <%= link_to "Make Prediction", newpredictiongame_path(@game.id), class: "orange-cta" %>
          </div>

        <% end %>

      <%end%>

  </div>

</div>
