<div class ="find-experts-header">

	<h1>Find Experts</h1>

</div>

<div class="find-experts-footer">

	<div class="find-experts-footer-container">

		<ul>
	        <li class=" find-experts-li dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sports</a>
				<ul class="dropdown-menu" role="menu">
					<li><%= link_to "NBA", leaguehome_path("NBA") %></li>
					<li><%= link_to "NFL", leaguehome_path("NFL") %></li>
					<li><%= link_to "NHL", leaguehome_path("NHL") %></li>
					<li><%= link_to "MLB", leaguehome_path("MLB") %></li>
					<li role="presentation" class="divider"></li>
					<li><%= link_to "More Leagues", home_path %></li>
				</ul>
			</li>

	        <li class=" find-experts-li dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Finance</a>
				<ul class="dropdown-menu" role="menu">
					<li><%= link_to "Stock Markets", root_path %></li>
					<li><%= link_to "Commodities", root_path %></li>
					<li><%= link_to "Currencies", root_path %></li>
				</ul>
			</li>
	    </ul>
	</div>
</div>

<div class ="user-dashboard-container">

  <h1>Top Predictors</h1>

  <div class ="user-dashboard-predictions">


  </div>


</div>
