<%= render 'league_home_header' %>

<div class = "content-container">

	<%=render 'games/gameshowcover'%>

	<div class="content-panel">

		<div class ="content-title-header">
			<h3>All Posts</h3>
			<h5><%= link_to "Game Home »", gameshow_path %></h5>
		</div>

			<%= will_paginate @articles %>
			
			<%= render 'articles/articlefullarchive' %>

			<%= will_paginate @articles %>
		
	</div>
	
</div>
