<%= render 'league_home_header' %>

<div class="content-panel">

	<div class ="content-title-header">
		<h3>All <%=@league%> Games</h3>
		<h5><%= link_to @league + " Home »", leaguehome_path(@league), { :class=>"subheader" } %></h5>
	</div>

	<%= will_paginate @games %>

	<%= render 'games/indexgamesarchive' %>

	<%= will_paginate @games %>

</div>