<%= render 'league_home_header' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="article-title-header">
			<h3>Hot <%= @league%> Games</h3>
			<h5><%= link_to "Full Archive »", leaguegameindex_path %></h5>
			<div class="article-index-dashboard">
				<%= render 'games/gamesummarydashboard'%>
			</div>
		</div>

		<div class ="article-title-header">
			<h3>Popular <%= @league%> Posts</h3>
			<h5><%= link_to "Full Archive »", leaguearticleindex_path %></h5>
		</div>

		<div class="article-index-dashboard">
			<%= render 'predictors/predictorarticlesummary'%>
		</div>
		

		<div class ="prediction-title-header">
			<h3>Recent <%= @league%> Picks</h3>
			<h5><%= link_to "Full Archive »", leaguepredictionindex_path %></h5>

			<%= render 'pages/league_home_predictions'%>
		</div>

		<nav>
			<div class="center">
				<%# will_paginate @predictions, renderer: BootstrapPagination::Rails %>
			</div>
		</nav>
		
	</div>
	
</div>