<%= render 'pages/league_home_header' %>

<%#render 'sports/header_banner_image' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-card">

			<%= render 'predictors/top_predictors' %>

			<%= render 'games/upcoming_games'%>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%= render 'pages/league_home_nav' %>

			<%= render 'prediction_games/indexshow' %>

		</div>

	</div>
</div>