<script>
    $(document).ready(function(){
    	$("#home").addClass("active");
    });
</script>

<%= render 'sports/sportshowcover' %>

<%#render 'sports/header_banner_image' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-card">

			<%= render 'predictors/top_predictors' %>

			<%= render 'games/upcoming_games'%>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%# render 'pages/league_home_nav' %>

			<div id="divPredictionIndex">

				
				<% if @predictions.empty? %>

					<div class ="prediction-game-index-show empty">

						No predictions yet.     

	  				</div>

				<%else%>

					<% @predictions.each do |hash| %>

	        			<%= render partial: 'prediction_games/list_show', locals: {predictor: hash[:predictor], prediction: hash[:prediction], game: hash[:game]} %>

	        		<%end%>

	        	<%end%>

			</div>

<!-- 			<div id="divGameIndex" style="display: none;">
				<%# render 'games/indexshow' %>
			</div>

			<div id="divPredictorIndex" style="display: none;">
				<%# render 'predictors/indexshow' %>
			</div> -->

			

		</div>

	</div>
</div>