<%= render 'pages/league_home_header' %>

<%#render 'sports/header_banner_image' %>

<!-- <div class = "content-container"> -->

	<div class="content-panel">

		<div class ="content-title-header">
			<h3>Upcoming <%= @league%> Games</h3>
			<h5><%= link_to "Full Archive »", leaguegameindex_path %></h5>
		</div>
		
		<div class="article-index-dashboard">
			<%= render 'games/gamesummarydashboard'%>
		</div>


		<div class ="content-title-header">
			<h3>Popular <%= @league%> Posts</h3>
			<h5><%= link_to "Full Archive »", leaguearticleindex_path %></h5>
		</div>

		<div class="article-index-dashboard">
			<%= render 'predictors/predictorarticlesummary'%>
		</div>

		<div class ="content-title-header">
			<h3>Recent <%= @league%> Predictions</h3>
			<h5><%= link_to "Full Archive »", leaguepredictionindex_path %></h5>
		</div>
			<%= render 'prediction_games/index'%>
		
		
	</div>
	
<!-- </div> -->