<%#render 'sports/header_banner_image' %>

<%= render 'league_home_header' %>

<div class="content-panel">

	<div class ="content-title-header">
		<h3>All <%=@league%> Posts</h3>
		<h5><%= link_to @league + " Home »", leaguehome_path(@league) %></h5>
	</div>
	
	<%= render 'articles/articlefullarchive' %>

	<%= will_paginate @articles %>
	
</div>
