<script>
    $(document).ready(function(){
    	$("#games").addClass("active");
    });
</script>

<%= render 'sports/sportshowcover' %>

<div class="content-panel">

	<div class="content-panel-container">
		<h1><%=@league%> Schedule</h1>

		<div style="float:right; display: inline-block;
	    position: relative">
			
			<select name="teamschedules" onChange="window.location.href=this.value"/>
	      		
	      		<option value selected="selected" disabled="disabled">Team Schedules</option>

		      	<% @teams.each do |team| %>

					<option value=<%=sportteamindex_path(team.league)%>><%=team.name%>

				<%end%>

			</select>

		</div>

		<h5><%= @today.strftime("%b %e") %> - <%= @tomorrowsq.strftime("%b %e") %></h5>

		<div class="large-table-container">

			<table class="game-schedule-table">
				<h3><%=@today.strftime("%A, %b %e")%></h3>

				<thead>
					<tr class="game-table-header">
						<th style="width: 150px;">MATCHUP</th>
						<th style="width: 200px;"></th>
						<th style="width: 100px; text-align:center;">TIME</th>
						<th style="width: 100px; text-align:center;">PREDICTIONS</th>
					</tr>
				</thead>

				<tbody>
					
					<% @games_today.each do |game| %>
						
						<tr data-link="<%=gameshow_path(game.league, game.id)%>" class="game-table-row">
							<td><%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %></td>
							<td>at <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %></td>
							<td style="text-align:center;"><%=game.event_time.strftime("%l:%M %p")%></td>
							<td style="text-align:center;"><%= game.prediction_games.count%></td>
						</tr>

					<%end%>

				</tbody>

			</table>

		</div>

		<div class="large-table-container">

			<table class="game-schedule-table">
				
				<h3><%=@tomorrow.strftime("%A, %b %e")%></h3>

				<thead>
					<tr class="game-table-header">
						<th style="width: 150px;">MATCHUP</th>
						<th style="width: 200px;"></th>
						<th style="width: 100px; text-align:center;">TIME</th>
						<th style="width: 100px; text-align:center;">PREDICTIONS</th>
					</tr>
				</thead>

				<tbody>
					
					<% @games_tomorrow.each do |game| %>
						
						<tr class="game-table-row">
							<td><%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %></td>
							<td>at <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %></td>
							<td style="text-align:center;"><%=game.event_time.strftime("%l:%M %p")%></td>
							<td style="text-align:center;"><%= game.prediction_games.count%></td>
						</tr>

					<%end%>

				</tbody>

			</table>

		</div>

		<div class="large-table-container">

			<table class="game-schedule-table">
				
				<h3><%=@tomorrowsq.strftime("%A, %b %e")%></h3>

				<thead>
					<tr class="game-table-header">
						<th style="width: 150px;">MATCHUP</th>
						<th style="width: 200px;"></th>
						<th style="width: 100px; text-align:center;">TIME</th>
						<th style="width: 100px; text-align:center;">PREDICTIONS</th>
					</tr>
				</thead>

				<tbody>
					
					<% @games_tomorrowsq.each do |game| %>
						
						<tr class="game-table-row">
							<td><%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %></td>
							<td>at <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %></td>
							<td style="text-align:center;"><%=game.event_time.strftime("%l:%M %p")%></td>
							<td style="text-align:center;"><%= game.prediction_games.count%></td>
						</tr>

					<%end%>

				</tbody>

			</table>

		</div>

	</div>

</div>