  <%= render 'pages/tag_header' %>

  <%= render 'layouts/category_header' %>

  <div style="float:right; left:-50%; position: relative; width: 100%; max-width: 1000px;">

	<div class="content-wrap">

	      <div class ="main-content index">

	      	<% if @articles.count == 0 %>

	      		<div class="content-panel sub">

	      			<div style="font-size: 12px; color: #999; text-align:center; padding: 10px;">
              
              			No <%= @topic.name %> Posts Yet.

              		</div>

            	</div>

	      	<%else%>

		        <% @articles.each do |article|%>

		          <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

		        <%end%>

		    <%end%>

	      </div>

		<div class ="side-panel-content index">

	        <div class="content-panel sub">
	        	
	        	<h4>Top <%= @topic.name %> Posts</h4>

	        	<% if @top_articles.count == 0 %>

	      			<div style="font-size: 12px; color: #999; text-align:center; padding: 10px;">
              
              			No <%= @topic.name %> Posts Yet.

              		</div>

              	<%else%>

              	<ol type="1" style="font-size: 16px;">
		
					<% @top_articles.each do |article| %>

						<li class="top-article-item"><%= link_to article.title, predictorarticleshow_path(Predictor.find(article.predictor_id).username,article.id), class: "top-article-list" %></li>

					<%end%>

				</ol>


              	<%end%>

	        </div>

	        <div class="content-panel sub">

				<h4>Related Tags</h4>

				<ul class="category-header-items">
		
					<% @related_topics.each do |topic| %>

						<li class="tag-items"><a href="<%= topic_show_page_path(topic.url)%>"><%= topic.name %></a></li>

					<%end%>

				</ul>

	        </div>
				
		</div>
	
	</div>
