<table class ="game-show-table">
  Prediction Game Info
  <thead>
    <tr>
      <th colspan="4">Final Outcome</th>
    </tr>
  </thead>

    <tr>
      <th></th>
      <th><%=@game.teama%></th>
      <th>@</th>
      <th><%=@game.teamh%></th>
    </tr>

    <tr class="game-show-table-row">
      <td>Final Score</td>
      <td><%= @game.teama_score %></td>
      <td></td>
      <td><%= @game.teamh_score %></td>
    </tr>

    <tr class="game-show-table-row">
      <td>Game Winner</td>
      <td><%= "placeholder" %></td>
      <td> <%= @game.game_winner %></td>
      <td><%= "bl" %></td>
    </tr>

    <tr class="game-show-table-row">
      <td>Final Spread</td>
      <td></td>
      <td> <%= @game.score_spread %></td>
      <td></td>
    </tr>

  </tbody>
</table>