<div class = "cover-wrap">

  <div class="cover-container" style="padding: 5px;">

    <table class="game-show-cover">
      
      <td class="table-float-left"><%= image_tag @teama.image, class: "team-image-tiny"%><%=link_to @teama.full_name, teamshow_path(@league,@teama.name), class: "game-team-name" %></td>

      <% if @game.status == "c" %>
        <td style="font-size: 20px; padding-left: 10px; padding-right: 10px;"><%=@game.teama_score%></td>
      <%end%>
      
      <td class="table-center"> 
        <p><%= link_to @league, leaguehome_path(@league) %></p>
        <p><b><%= @game.event_time.strftime("%-m/%-d")%></b></p>
        <p><b><%= @game.event_time.strftime("%l:%M %p") %></b><p>
      </td>

      <% if @game.status == "c" %>
        <td style="font-size: 20px; padding-left: 10px; padding-right: 10px;"><%=@game.teamh_score%></td>
      <%end%>
      
      <td class="table-float-right"><%= link_to @teamh.full_name, teamshow_path(@league,@teamh.name), class: "game-team-name"%><%= image_tag @teamh.image, class: "team-image-tiny"%> </td>

    </table>

    <% if @action =="games" and predictor_signed_in? %>
        <% unless current_predictor.prediction_games.where(:game_id => @game.id).present? %>
          <div class="orange-cta-container"%>
            <%= link_to "Make Prediction", newpredictiongame_path(@game.id), class: "orange-cta" %>
          </div>

        <% end %>

      <%end%>

  </div>

</div>
