<div class="game-cover">
    
    <div class="game-cover-container">

      <b><%= @game.league + " Regular Season Game"%></b>

      <h3><%= @game.teama%> <%= image_tag Team.find_by_name(@game.teama).image, class: "team-image-tiny"%> @ <%= image_tag Team.find_by_name(@game.teamh).image, class: "team-image-tiny"%> <%= @game.teamh %></h3>

      <%= @game.event_time.strftime("%l:%M %p") + ", " + @game.event_time.strftime("%a %b %d, %Y ") %>

    </div>
  </div>
