<div class = "game-index-header">

	<span class="glyphicon glyphicon-envelope"></span>

	<ul class="nav nav-tabs league-header">
		<li <% if params[:league] =="all" or params[:league].nil? %> class="active" <%end%>> <%= link_to "All", sportsgamesselect_path(current_predictor.username, "articles") %></li>

		<li <% if params[:league] =="NBA"%> class="active" <%end%>><%= link_to "NBA", sportsgamesselect_path(current_predictor.username, params[:type], :league => 'NBA') %> </li>
		<li <% if params[:league] =="NFL"%> class="active" <%end%>><%= link_to "NFL", sportsgamesselect_path(current_predictor.username, params[:type], :league => 'NFL') %> </li>
		<li <% if params[:league] =="MLB"%> class="active" <%end%>><%= link_to "MLB", sportsgamesselect_path(current_predictor.username, params[:type], :league => 'MLB') %> </li>
		<li <% if params[:league] =="NHL"%> class="active" <%end%>><%= link_to "NHL", sportsgamesselect_path(current_predictor.username, params[:type], :league => 'NHL') %> </li>
	</ul>

</div>

