<div class="user-dashboard-header"%>

  <h4><%= @game.league + " Regular Season Game"%></h4>

  <h3><%= image_tag @teama.image, class: "team-image-tiny"%> <%=link_to @game.teama, teamshow_path(@league,@teama.id), class: "game-team-name" %></h3>
  <h3> <%= image_tag @teamh.image, class: "team-image-tiny"%> <%= link_to @game.teamh , teamshow_path(@league,@teamh.id), class: "game-team-name"%> </h3>

<h5><%= @game.event_time.strftime("%l:%M %p") + ", " + @game.event_time.strftime("%a %b %d, %Y ") %></h5>

</div>




