<div class="game-cover">
    
    <div class="game-cover-container">

      <b><%= link_to @game.league + " Regular Season Game", gameshow_path(@league,@game.id)%></b>

      <h3><%=link_to @game.teama, teamshow_path(@league,@teama.id) %> <%= image_tag @teama.image, class: "team-image-tiny"%> @ <%= image_tag @teamh.image, class: "team-image-tiny"%> <%= link_to @game.teamh , teamshow_path(@league,@teamh.id)%></h3>

      <h5><%= @game.event_time.strftime("%l:%M %p") + ", " + @game.event_time.strftime("%a %b %d, %Y ") %></h5>

    </div>
  </div>
