<div class="game-float-header-container"%>

  <h4 class="game-header"><%= @game.league + " Regular Season Game"%></h4>

  <table class="game-show-header">

    <tr>
      <td class="table-float-right"><%= image_tag @teama.image, class: "team-image-tiny"%> <%=link_to @game.teama, teamshow_path(@league,@teama.id), class: "game-team-name" %></td>
      <td class = "table-center">@</td>
      <td class="table-float-left"><%= link_to @game.teamh , teamshow_path(@league,@teamh.id), class: "game-team-name"%><%= image_tag @teamh.image, class: "team-image-tiny"%> </td>

    </tr>

  </table>

  <h4><%# image_tag @teama.image, class: "team-image-tiny"%> <%#link_to @game.teama, teamshow_path(@league,@teama.id), class: "game-team-name" %></h4>
  <h4><%# image_tag @teamh.image, class: "team-image-tiny"%> <%# link_to @game.teamh , teamshow_path(@league,@teamh.id), class: "game-team-name"%> </h4>

  <h5><%= @game.event_time.strftime("%-m/%-d") + ", " + @game.event_time.strftime("%l:%M %p") %></h5>

</div>




