<% if @teamshow %>

	<% if @team_games.empty? %>

		<div class ="prediction-game-index-show empty">

			Your dashboard is currently empty.  Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

		</div>

	<% else %>

		<% @team_games.each do |team_game| %>
	      
	      <% game = team_game[:game] %>

	      <a href = "<%= gameshow_path(game.league, game.id)%>", class ="game-show-link" >

		      <div class ="prediction-game-index-show">

		      	<% if team_game[:home] %>
		        
		        	VS <%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %>

		        <%else%>

		        	@ <%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%> <%=game.teamh %>

		        <%end%>

		        <br>
		        <%= game.event_time.strftime("%-m/%-d/%y") + ", " + game.event_time.strftime("%l:%M %p") %>

		      </div>

	  		</a>

	  	<%end%>

	<%end%>

<%else%>

	<% @games.each do |game| %>

		<a href = "<%= gameshow_path(game.league, game.id)%>", class ="game-show-link" >

	      	<div class ="prediction-game-index-show">

	        	<%= image_tag Team.find(game.teama_id).image, class: "team-image-tiny"%> <%=game.teama %> @ <%=game.teamh %> <%= image_tag Team.find(game.teamh_id).image, class: "team-image-tiny"%>

	        	<br>

	        	<b>Game Date: </b><%= game.event_time.strftime("%-m/%-d/%y") + ", " + game.event_time.strftime("%l:%M %p") %>

	        	<br>

	        	Final Score Predictions: <%= game.prediction_games.count%>

	      	</div>

		</a>

  	<%end%>

<%end%>
