
<% if admin_signed_in? %>



<% elsif predictor_signed_in? or user_signed_in? %>

      <!-- <form class="filter_form"> -->
        
        <%# select("game", "team", Team.all.collect(&:name), :prompt => "Select a Team") %>
        <!-- <input type="submit" value="Filter" />
      </form> -->

      <div class="game-table-holder">

        <h1>Select a Game</h1>

        <div class="game-table">

        <%= render 'games/gamecategoryheader' %>

        <div class="game-table-index-wrapper">
          <table class ="game-index-table">
            <thead class ="game-index-table-header">
            <tr>     

            <% if params[:league] == "all" %>
              <th class="game-index-fold-th">League</th>     
            <% end %>   
              <th class="game-index-fold-th">Matchup</th>
              <th class="game-index-fold-th">Date</th>
              <th class="game-index-fold-th">Time</th>
              <th class="game-index-fold-th">City</th>
              <th class="game-index-fold-th">Venue</th>

              <% if user_signed_in? %>
                <th class="game-index-fold-th">Total Predictions</th>
              <%end%>
              
            </tr>
            </thead>


          <% @games.each do |game| %>

              <% if game.event_time > Time.now and game.status =="o" and not current_predictor.prediction_games.where(:game_id => game.id).present? %>

                  <tbody>
                  
                  <tr data-link="<%=home_path%>", class= "game-index-table-row">
                    <% if params[:league] == "all" %>
                      <td><%= game.league %></td>
                    <% end %>
                      <td><%= game.teama + " at " + game.teamh %></td>
                      <td><%= game.event_time.strftime("%D") %></td>
                      <td><%= game.event_time.strftime("%l:%M %p") %></td>
                      <td><%= game.event_city %></td>
                      <td><%= game.event_venue %></td>
                      
                      <% if user_signed_in? %>
                        <td><%= PredictionGame.all.where(:game_id => game.id).count %></td>
                        <td><%= link_to "See All Predictions", find_sports_predictions_path(params[:league],game.id) %></td>

                      <%elsif predictor_signed_in?%>

                      <%end%>
                      
                    </div>
                  </tr>

                  </tbody>

              <% end %>

          <% end %>

              </table>
            </div>
      </div>


<% else %>

Beat it


<% end %>




