<% if @team_games.empty? %>

  <div class ="prediction-game-index-show empty">

    Your dashboard is currently empty.  Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

  </div>

<% else %>

  <% @team_games.each do |hash| %>
      
      <% game = hash[:game] %>

      <a href = "<%= gameshow_path(game.league, game.id)%>", class ="game-show-link" >

	      <div class ="prediction-game-index-show">

	      	<% if hash[:home] %>
	        
	        	VS <%= image_tag Team.find_by_name(game.teama).image, class: "team-image-tiny"%> <%=game.teama %>

	        <%else%>

	        	@ <%= image_tag Team.find_by_name(game.teamh).image, class: "team-image-tiny"%> <%=game.teamh %>

	        <%end%>

	        <br>
	        <%= game.event_time.strftime("%-m/%-d") + ", " + game.event_time.strftime("%l:%M %p") %>

	      </div>

  		</a>

  <%end%>

<%end%>
