
<div class = "show-game-header">

  <div class = "game-header-date">


    <h4> <%= @game.league + " Game:" %> </h4>
    
    <h4> <%= @game.event_time.strftime("%B %e, %Y at %l:%M %p") %> </h4>

  </div>

  <div class = "game-header-body">

    <div class = "game-header-body-teams">

      <%= image_tag @teama.image.url(:medium) %>
      <%= @teama.name %>

       @ 
       
      <%= image_tag @teamh.image.url(:medium) %>
      <%= @teamh.name %>

    </div>

    <div class = "game-header-body-venue">

      <% if @game.event_venue %>
        <%=@game.event_venue%>
      <% end %>
      
      <% if @game.event_venue and @game.event_city %>
      , 
      <% end %>

      <% if @game.event_city %>
        <%= @game.event_city %>
      <% end %>

    </div>



  </div>



</div>