<div class="outline-shadow">

    <h3>Upcoming Games</h3>

    <table class="user-dashboard-table">

      <% unless @upcominggames.empty?%>

        <% @upcominggames.each do |game|%>
        	<tr data-link="<%=gameshow_path(game.league, game.id)%>", class="table-cta-hover">
        		
            <td class="sidebar-entry" style="text-align:center;">
        			<%= image_tag Team.find(game.teama_id).image.url(:medium), class: "predictor-image-tiny"%>
            </td>

            <td style="text-align:center;">
              <a class="team-name"><%= game.teama %></a>
            </td>

            <td style="text-align:center;">
              @
            </td>
        			
            <td style="text-align:center;">
              <a class="team-name"><%= game.teamh %></a>
            </td>

            <td style="text-align:center;">
              <%= image_tag Team.find(game.teamh_id).image.url(:medium), class: "predictor-image-tiny"%> 
            </td>

            <td class="sidebar-entry" style="text-align:center;">
              <%= game.event_time.strftime("%-m/%-d") %>
            </td>

        	</tr>

        <%end%>

      <%end%>

  	</table>

</div>




