<div class="outline-shadow">

    <h3>Upcoming Games</h3>

    <table class="user-dashboard-table">

      <% @upcominggames.each do |game|%>
      	<tr data-link="<%=gameshow_path(game.league, game.id)%>", class="table-cta-hover">
      		<td>
      			<%= image_tag Team.find_by_name(game.teama).image.url(:medium), class: "predictor-image-tiny"%><a class="team-name"><%= game.teama %></a>
      		</td>

      		<td>
      			<%= image_tag Team.find_by_name(game.teamh).image.url(:medium), class: "predictor-image-tiny"%> <a class="team-name"><%= game.teamh %></a>
      		</td>

          <td class="game-time">
            <p><%= game.event_time.strftime("%-m/%-d") %></p>
          </td>

      	</tr>

      <%end%>

  	</table>

</div>




