<div class="outline-shadow">

  <% if user_signed_in?%>

    <% @games = current_user.my_sidebar_games %>

    <h3>Upcoming Games</h3>

    <table class="user-dashboard-table">

      <% @games.each do |game|%>
      	<tr data-link="<%=gameshow_path(game.league, game.id)%>", class="table-cta-hover">
      		<td>
      			<%= image_tag Team.find(game.teama_id).image.url(:medium), class: "predictor-image-tiny"%><a class="index-float"><%= game.teama %></a>
      		</td>

      		<td>
      			<%= image_tag Team.find(game.teamh_id).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= game.teamh %></a>
      		</td>

      	</tr>

      <%end%>

  	</table>
  
  <%end%>

</div>




