<h1>Select Game to Predict</h1>

<table>
  <thead>
    <tr>
      <th>League</th>
      <th>Home Team</th>
      <th>Away Team </th>
      <th>Event Date</th>
      <th>Event Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      
      <% if game.event_time > Time.now and game.status == "o" %>
      <tr>
        <td><%= game.league %></td>
        <td><%= game.teamh %></td>
        <td><%= game.teama %></td>
        <td><%= game.event_time.strftime("%B %d, %Y") %></td>
        <td><%= game.event_time.strftime("%l:%M %p") %></td>

        <td><%= link_to 'Make Prediction', new_prediction_game_path(:game => game.id) %></td>
       
      </tr>

      <% end %>


    <% end %>
  </tbody>
</table>

<br>