
<% if admin_signed_in? %>

<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Teamh</th>
      <th>Teama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.league %></td>
        <td><%= game.teamh %></td>
        <td><%= game.teama %></td>
        <td><%= game.event_time %></td>

        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Score', gamescore_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>

<% elsif predictor_signed_in? %>


  <h1>Select Game to Predict</h1>

<table>
  <thead>
    <tr>
      <th>Teamh</th>
      <th>Teama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.league %></td>
        <td><%= game.teamh %></td>
        <td><%= game.teama %></td>
        <td><%= game.event_time %></td>

        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Score', gamescore_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% elsif user_signed_in? %>


<% else %>

Beat it


<% end %>


