<%= render 'pages/league_home_header' %>

<%= render 'games/gameshowcover'%>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class ="user-dashboard-predictions">

			<%# render 'games/game_show_center_nav' %>

			<%= render 'prediction_games/indexshow' %>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class="user-dashboard-left">

			<%= render 'games/other_games_sidebar' %>

		</div>

	</div>
</div>