<p id="notice"><%= notice %></p>


<p>
  <strong>League:</strong>
  <%= @game.league %>
</p>


<p>
  <strong>Home Team</strong>
  <%= @game.teamh %>
  <%= @game.teamh_id %>
</p>

<p>
  <strong>Away Team</strong>
  <%= @game.teama %>
  <%= @game.teama_id %>
</p>


<p>
  <strong>Event Time:</strong>
  <%= @game.event_time %>
</p>

<p>
  <strong>Home Score</strong>
  <%= @game.teamh_score %>
</p>

<p>
  <strong>Away Score</strong>
  <%= @game.teama_score %>
</p>

<p>
  <strong>Spread</strong>
  <%= @game.score_spread %>
</p>

<p>
  <strong>Game Winner</strong>
  <%= @game.game_winner %>
</p>

<p>
  <strong>Status</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Id</strong>
  <%= @game.id %>
</p>

<p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
