<%= render 'games/gameshowcover'%>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-card">

			<%= render 'predictors/top_predictors_game' %>

			<%= render 'games/other_games_sidebar' %>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<% if @predictions.empty? %>

				<div class ="prediction-game-index-show empty">

					No predictions yet.     

  				</div>

			<%else%>

				<% @predictions.each do |hash| %>
	        
	          		<%= render partial: 'prediction_games/list_show', locals: {predictor: hash[:predictor], prediction: hash[:prediction], game: @game} %>

	        	<%end%>

        	<%end%>

		</div>

	</div>
</div>