<%= render 'games/gameshowcover'%>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-card">

			<%= render 'predictors/top_predictors_game' %>

			<%= render 'games/other_games_sidebar' %>

			<%= render 'layouts/footer_float'%>

		</div>

		<div class ="user-dashboard-predictions">

			<%= render 'prediction_games/indexshow' %>

		</div>

	</div>
</div>