<div class = "console-container">

	<div class = "signup-container">

		<div class ="predictor-user-toggle-container">

			<%= link_to "User", new_user_session_path, class: "predictor-user-toggle active" %>
			<%= link_to "Expert", new_predictor_session_path, class: "predictor-user-toggle inactive" %>

		</div>

		<div class = "signup-form">

		<h2>Login</h2>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %>
			  <%= f.email_field :email, autofocus: true, placeholder: "you@example.com", class: "signup-text"  %></div>

			  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>

			    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "signup-text" %></div>

			  <div><%= f.submit "LOGIN", class: "signup-submit" %></div>
			<% end %>

		</div>

	</div>

	<div class ="signup-extras">
				Need an account? <%= link_to "Sign Up", new_user_registration_path, class: "signin-text-extra" %> <br>
				-OR- <%= link_to "Expert Login", new_predictor_session_path, class: "extra-text" %>
		</div>
	
</div>