<%= render 'predictors/editnavside' %>

<div class = "edit-container">

	<div class="edit-panel">

		<h2>Payment Information</h2>

			<b>Current Payment Method:</b> <br>
			<%=@displaycard.brand + " •••• •••• •••• " + @displaycard.last4 %> <br>
			Expiration Date:<br>
			<%= @displaycard.exp_month.to_s + "/" + @displaycard.exp_year.to_s %>

			<br><br>

			<%= form_tag cards_default_path do %>

				<select name="newdefault"/>
		      		<option value selected="selected" disabled="disabled">credit card</option>
		      		
		      		<% @cards.each do |card| %>

						<option value=<%=card.id%>><%=card.brand + " •••• •••• •••• " + card.last4 %>

					<%end%>

					
				</select>

				<br><br>

				<button type="submit" class= "signup-submit">Update</button>

			<%end%>

			<br><br>

			<a id="addCardLink" onclick="toggleModal();">Add a Credit Card</a>

			<Br><BR>

			
			  <!-- <form action="" method="POST" id="payment-form"> -->
      <!-- Add a section to display errors if you want -->

      	<div class="modal-container" id="divModal" style="display:none">

	      	<div class = "modal-form">

		      	<%= form_tag cards_path, id: 'payment-form' do %>

		      		<table class="card-form">

				      	<span class='payment-errors'></span>

				      	<tr class="add-card-form-header">
				      		<td class="add-card-header">
				      			<b>Add a Credit Card</b>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td>
				      			Credit Card Number
				      		</td>
				      		<td>
				      			CVC
				      		</td>
				      	</tr>

				      	<tr>
				      		<td>
				      			<input name="number" class="card-number"/>
				      		</td>
				      		<td>
				      			<input name="cvc" class="card-cvc"/>
				      		</td>
				      	</tr>

				      	<tr>
				      		<td colspan="2">
				      		Expiration
				      		</td>
				      	</tr>

				      	<tr>
				      		<td>
						      	<select name="expmonth" class="card-month"/>
						      		<option value selected="selected" disabled="disabled">month</option>
						      		<option value="01">01</option>
						      		<option value="02">02</option>
						      		<option value="03">03</option>
						      		<option value="04">04</option>
						      		<option value="05">05</option>
						      		<option value="06">06</option>
						      		<option value="07">07</option>
						      		<option value="08">08</option>
						      		<option value="09">09</option>
						      		<option value="10">10</option>
						      		<option value="11">11</option>
						      		<option value="12">12</option>
								</select>
							
						      	<select name="expyear" class="card-year"/>
						      	<option value selected="selected" disabled="disabled">Year</option>
						      		<option value="2015">2015</option>
						      		<option value="2016">2016</option>
						      		<option value="2017">2017</option>
						      		<option value="2018">2018</option>
						      		<option value="2019">2019</option>
						      		<option value="2020">2020</option>
						      		<option value="2021">2021</option>
						      		<option value="2022">2022</option>
						  		</select>
						  	</td>
						 </tr>

						 <tr>
				      		<td colspan="2">
				      		<input type="checkbox" name="defaultcard" value=true>Make Default</input>
				      		</td>
				      	</tr>

						 <tr>
				      		<td class="add-card-action">
				      			<button type="submit" class= "add-card-submit">Add Card</button>

				      		</td>

				      		<td class="add-card-action">
				      			<a id="addCardLink" class="cancel-card-submit" onclick="toggleModal();">cancel</a>
				      		</td>
				      	</tr>
					</table>

				<%end%>
			</div>
		</div>

	</div>
</div>