<script>
$(document).ready(function(){
    $("#addCardLink").click(function(){
        $(".add-card-container").toggle();
    });
});
</script>

<%= render 'predictors/editnavside' %>

<div class = "edit-container">

	<div class="edit-panel">

		<h2>Payment Information</h2>

			<% if @displaycard %>
				
				<b>Current Payment Method:</b> <br>
				<%=@displaycard.brand + " •••• •••• •••• " + @displaycard.last4 %> <br>
				Expiration Date:<br>
				<%= @displaycard.exp_month.to_s + "/" + @displaycard.exp_year.to_s %>

			<% end %>

			<%= current_user.default_source %>

			<br><br>
		      		
			<%if @cards %>

				<%= form_tag cards_default_path do %>

					<select name="newdefault"/>
			      		<option value selected="selected" disabled="disabled">update credit card</option>

				      	<% @cards.each do |card| %>

							<option value=<%=card.id%>><%=card.brand + " •••• •••• •••• " + card.last4 %>

						<%end%>

					</select>

					<br><br>

					<button type="submit" class= "signup-submit">Update</button>

				<%end%>

			<br>

			<% end %>

			<a id="addCardLink">Add a Credit Card</a>

			<Br><BR>

				<div class="add-card-container" style="display:none">
					<%=render 'cards/addcardform' %>
				</div>
			
			  <!-- <form action="" method="POST" id="payment-form"> -->
      <!-- Add a section to display errors if you want -->

		

	</div>
</div>