<script>
$(document).ready(function(){
    $("#addCardLink").click(function(){
        $(".add-card-container").toggle();
    });
});
</script>


<div class="confirm-wrap">

  <div class="confirm-container">
        
      <h1>Payment Information</h1>

        <% if @displaycard %>
				
				<b>Current Payment Method:</b> <br>
				<%=@displaycard.brand + " •••• •••• •••• " + @displaycard.last4 %> <br>
				Expiration Date:<br>
				<%= @displaycard.exp_month.to_s + "/" + @displaycard.exp_year.to_s %>

			<% end %>

			<%= current_user.default_source %>

			<br><br>
		      		
			<%if @cards %>

				<%= form_tag cards_default_path do %>

					<select name="newdefault"/>
			      		<option value selected="selected" disabled="disabled">update credit card</option>

				      	<% @cards.each do |card| %>

							<option value=<%=card.id%>><%=card.brand + " •••• •••• •••• " + card.last4 %>

						<%end%>

					</select>

					<br>

					<button type="submit" class= "signup-submit">Update</button>

				<%end%>

			<br>

			<% end %>

			<% if flash[:error].present? %>
      			<div id="error_explanation">
        			<p><%= flash[:error] %></p>
      			</div>
    		<% end %>

			<a id="addCardLink">Add a Credit Card</a>

			<Br><BR>

				<div class="add-card-container" style="display:none">
					<%=render 'cards/addcardform' %>
				</div>

  </div>

</div>