<div class = "prediction-game-form-container">

  <%= form_for(@prediction_game) do |f| %>

    <% if @prediction_game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@prediction_game.errors.count, "error") %> prohibited this prediction_game from being saved:</h2>
        <ul>
          <% @prediction_game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="new-prediction-game">

      <div class="new-prediction-game-header">
       Final Score Prediction
      </div>

      <div class="field">
        
        <%= f.hidden_field :game_id, as: :integer, :label => false, :placeholder => @prediction_game.game_id %>
        <%= f.hidden_field :event_time, as: :integer, :label => false, :placeholder => @prediction_game.event_time %>
        <%= f.hidden_field :league, as: :string, :label => false, :placeholder => @prediction_game.league %>
        <%= f.hidden_field :teamh, as: :string, :label => false, :placeholder => @prediction_game.teamh %>
        <%= f.hidden_field :teama, as: :string, :label => false, :placeholder => @prediction_game.teama %>
        <%= f.hidden_field :status, as: :string, :label => false, :placeholder => @prediction_game.status %>

      </div>

      <table class = "prediction-game-form">
        <thead>
          <th><%= @prediction_game.teama %> </th>
          <th> VS </th>
          <th><%= @prediction_game.teamh %> </th>
        </thead>
          
        <tbody>
          <td> <%= f.number_field :teama_score, :maxlength=>"3" %> </td>
          <td> - </td>
          <td> <%= f.number_field :teamh_score, :maxlength => 3 %> </td>
        </tbody>

      </table>

      <div class="new-prediction-game-reason">
        <p><b>Reason for Prediction:</b></p>
        <%= f.text_area :body, :rows => "5", class: "prediction-game-reason-text" %>
      </div>

      <div class="new-prediction-game-premium"%>
        <%= f.label "Premium" %> <%= f.check_box :paid %>

      </div>

        <div class="actions">
          <%= f.submit "Make Prediction", :class => 'cta-submit'%>
        </div>

    </div>

  <% end %>

</div>
