<div class ="prediction-game-show-container">

      <div class ="prediction-game-index-show">
        
        <div class="prediction-game-index-show-header">
          <table>
              <tr>
                <td> 
                  <%= image_tag @predictor.image.url(:medium), class: "predictor-image-tiny"%>
                  <b><%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "full-name" %></b> 

                  &#183; <%= @prediction_game.created_at.strftime("%b %e") %> 

                  &#183; <%= image_tag Sport.find_by_subcat(@prediction_game.league).image.url(:medium, :width => 30, :height => 30), class: "sport-image-tiny"%><%= @prediction_game.league %> Prediction

                  <%if @prediction_game.paid %>
                    &#183; <img src="https://s3.amazonaws.com/projectonyx/Premium-Star.png" height="16" width="16"></img> Premium
                  <%end%>

                </td>
              </tr>
          </table>

        </div>

        <div>

          <table class ="prediction-game-index-show-table">

            <tr>
              <td colspan="2" class="prediction-game-team-header">
                
              </td>

              <td colspan="1" class="prediction-game-date">
                <b>Game Date: </b><%= @prediction_game.event_time.strftime("%a, %b %d, %Y ") %>
              </td>

              <td colspan="2" class="prediction-game-team-header">
                
              </td>
            </tr>

            <tr>
              <td rowspan="3" class="prediction-game-team-image">
                
                <%= image_tag @teama.image.url(:medium), class: "team-image-tiny"%>
                
              </td>

              <td class="prediction-game-minor">
                <%= @teama.sub_name%>
              </td>

              <td width="250px">
                
              </td>

              <td class="prediction-game-minor">
                <%= @teamh.sub_name%>
              </td>

              <td rowspan="3" class="prediction-game-team-image">
                
                <%= image_tag @teamh.image.url(:medium), class: "team-image-tiny"%>
                
              </td>

            </tr>

            <tr>
              
              <td class="prediction-game-show-center">
                <%= @teama.name%>
              </td>

              <td class="prediction-game-show-center" height="50">
                
                <% if user_signed_in? %>
                
                  <% if @prediction_game.visible("user", current_user) %>

                    <%= @prediction_game.teama_score%> - <%= @prediction_game.teamh_score%>

                  <%else%>

                    <%= render 'predictors/predictor_subscribe_cta'%>

                  <%end%>
                
                <%elsif predictor_signed_in?%>

                  <%if current_predictor.id == @predictor.id %>

                    <%= @prediction_game.teama_score%> - <%= @prediction_game.teamh_score%>

                  <%else%>

                    nope

                  <%end%>

                <%elsif admin_signed_in?%>

                  <%= @prediction_game.teama_score%> - <%= @prediction_game.teamh_score%>

                <%else%>

                  <% if @prediction_game.visible("none", "none") %>

                    <%= @prediction_game.teama_score%> - <%= @prediction_game.teamh_score%>

                  <%end%>

                <%end%>
                
              </td>

              <td class="prediction-game-show-center">
                <%= @teamh.name%>
              </td>
            </tr>

            <tr>
              
              <td class="prediction-game-minor">
                (Away)
              </td>

              <td class="prediction-game-minor">

                  Final Score (Predicted)
                
              </td>

              <td class="prediction-game-minor">
                (Home)
              </td>
            </tr>

            <tr class="table-row-border-top">
              
              <td>
                
              </td>

              <td class="prediction-game-show-center">

                <% if user_signed_in? %>
                
                  <% if @prediction_game.visible("user", current_user) %>

                    <%if @prediction_game.game_winner == @prediction_game.teama %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>
                
                <%elsif predictor_signed_in?%>

                  <%if current_predictor.id == @predictor.id %>

                    <%if @prediction_game.game_winner == @prediction_game.teama %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>


                <%elsif admin_signed_in?%>

                  <%if @prediction_game.game_winner == @prediction_game.teama %>+<%else%>-<%end%><%=@prediction_game.spread%>

                <%else%>

                  <% if @prediction_game.visible("none", "none") %>

                    <%if @prediction_game.game_winner == @prediction_game.teama %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>

                <%end%>

              </td>

              <td class="prediction-game-minor">

                  Spread
                
              </td>

              <td class="prediction-game-show-center">

                <% if user_signed_in? %>
                
                  <% if @prediction_game.visible("user", current_user) %>

                    <%if @prediction_game.game_winner == @prediction_game.teamh %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>
                
                <%elsif predictor_signed_in?%>

                  <%if current_predictor.id == @predictor.id %>

                    <%if @prediction_game.game_winner == @prediction_game.teamh %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>

                <%elsif admin_signed_in?%>

                  <%if @prediction_game.game_winner == @prediction_game.teamh %>+<%else%>-<%end%><%=@prediction_game.spread%>

                <%else%>

                  <% if @prediction_game.visible("none", "none") %>

                    <%if @prediction_game.game_winner == @prediction_game.teamh %>+<%else%>-<%end%><%=@prediction_game.spread%>

                  <%end%>

                <%end%>
                
              </td>

              <td>
                
              </td>
            </tr>

            <tr class="table-row-border-top">
              
              <td colspan="2">
              </td>

              <td class="prediction-game-minor">

                  Over/Under
                
              </td>

              <td colspan="2">
              </td>

            </tr>

            <tr>
              
              <td colspan="2">
              </td>

              <td class="prediction-game-show-center">

                <% if user_signed_in? %>
                
                  <% if @prediction_game.visible("user", current_user) %>

                    <%= @prediction_game.overunder%>

                  <%end%>
                
                <%elsif predictor_signed_in?%>

                  <%if current_predictor.id == @predictor.id %>

                    <%= @prediction_game.overunder%>

                  <%end%>

                <%elsif admin_signed_in?%>

                    <%= @prediction_game.overunder%>

                <%else%>

                  <% if @prediction_game.visible("none", "none") %>

                    <%= @prediction_game.overunder%>

                  <%end%>

                <%end%>
                
              </td>

              <td colspan="2">
              </td>

            </tr>     

            <% if @prediction_game.onyx %>

              <tr>
              
                <td colspan="2">
                  
                </td>

                <td class="prediction-game-minor" style="border:1px solid #ccc; padding:5px;">
                    <%=@prediction_game.teama_score%> - <%=@prediction_game.teamh_score%>
                    
                    <br>

                    Final Score (Actual)

                    <br>

                    <a class="no-style" style="background-color:#00D43C; color:white; padding: 5px;">Futable Rating: <%=@prediction_game.onyx%></a>
                  
                </td>

                <td colspan="2">
                  
                </td>

              </tr>


            <% end %>   

</div>