
<table class ="prediction-index-fold">
  <thead>
    <tr>
      <% if @displaypredictor %>
        <th class="prediction-index-fold-th">Predictor</th>
      <% end %>
      <th class="prediction-index-fold-th">Prediction Date</th>
      <th class="prediction-index-fold-th">Matchup</th>
      <th class="prediction-index-fold-th">Game Date</th>
      <th class="prediction-index-fold-th">Onyx Rating</th>
    </tr>
  </thead>

  <tbody>

    <% if @predictions.count == 0 %>

      <tr class="prediction-table-row">
        <% if @displaypredictor %>
          <td colspan="5" class="no-active-games">No Predictions</td>
        <%else%>
          <td colspan="4" class="no-active-games">No Predictions</td>
        <%end%>
      </tr>

    <% else %>

      <% @predictions.each do |prediction| %>

        <tr data-link="<%=predictiongamesshow_path(Predictor.find(prediction.predictor_id).username,prediction.id)%>", class="prediction-table-row">
          <% if @displaypredictor %>
            <td> <%= image_tag Predictor.find(prediction.predictor_id).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= Predictor.find(prediction.predictor_id).name %></a></td>
          <% end %>
          <td><%= prediction.created_at.strftime("%D") %></td>
          <td class="index-matchup"><a class="index-float"><%= prediction.teama %></a><%= image_tag Team.find_by_name(prediction.teama).image.url(:medium), class: "predictor-image-tiny"%> at <%= image_tag Team.find_by_name(prediction.teamh).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= prediction.teamh %></a></td>
          <td><%= prediction.event_time.strftime("%D") %></td>
          <td>88</td>
        </tr>

      <%end%>

    <% end %>

  </tbody>

</table>