
<div class="prediction-index-table-holder">

  <table class ="prediction-index-fold">
    <thead>
    <tr>
      <th class="prediction-index-fold-th">Predictor</th>
      <th class="prediction-index-fold-th">Prediction Date</th>
      <th class="prediction-index-fold-th">Matchup</th>
      <th class="prediction-index-fold-th">Game Date</th>
      
    </tr>
    </thead>

      <tbody>

          <% if @predictions.count == 0 %>

            <tr class="prediction-table-row">
                <td colspan="3" class="no-active-games">No Predictions</td>
              </tr>

          <% else %>

            <% @predictions.each do |prediction| %>

              <tr data-link="<%=predictiongamesshow_path(Predictor.find(prediction.predictor_id).username,prediction.id)%>", class="prediction-table-row">
                <td> <%= Predictor.find(prediction.predictor_id).name %></td>
                <td> <%= prediction.created_at.strftime("%D") %></td>
                <td> <%= prediction.teamh %> at <%= prediction.teama %></td>
                <td> <%= prediction.event_time.strftime("%D") %></td>
              </tr>

            <%end%>

          <% end %>

      </tbody>

  </table>

</div>