<% if @predictions.empty? %>

  <div class ="prediction-game-index-show empty">

    Your dashboard is currently empty.  Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

  </div>

<% else %>

  <% @predictions.each do |hash| %>

    <% prediction = hash[:prediction] %>

    <% @predictor = hash[:predictor] %>
      
      <div class ="prediction-game-index-show">
        
        <table>
            <tr>
              <td> 
                <%= image_tag @predictor.image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><b><%= link_to @predictor.username, predictordashboard_path(@predictor.username) %></b> &#183; <%= prediction.created_at.strftime("%b %e") %> <%if prediction.paid %>&#183; <img src="https://s3.amazonaws.com/projectonyx/Premium-Star.png" height="16" width="16"></img> Premium<%end%></a>

              </td>
            </tr>
        </table>

        <table class ="prediction-game-index-show-table">

          <tr>
            <th class="prediction-game-index-show-table-date" colspan="6">
              <%= prediction.league %> Prediction
            </th>
          </tr>

          <tr class="pg-table-bottom">
            <td colspan="6">
              <%= prediction.event_time.strftime("%a, %b %d, %Y ") %>
            </td>
          </tr>

          <tr>
            <td class="prediction-game-index-show-table-teams" colspan="3">
              
              
              <%= image_tag Team.find_by_name(prediction.teama).image.url(:medium), class: "predictor-image-tiny"%> <%= prediction.teama%>
              
            </td>
            <td class="prediction-game-index-show-table-teams last-child" colspan="3">
             
                <%= prediction.teamh%> <%= image_tag Team.find_by_name(prediction.teamh).image.url(:medium), class: "predictor-image-tiny"%>

            </td>
          </tr>
          
          <% if prediction.visible("user", current_user) %>

            <tr class="pg-table-bottom">
              <td class="pg-important-data" colspan="2">
                <%= prediction.teama_score%>
              </td>
              <td colspan="2">
                Final Score
              </td>
              <td class="pg-important-data" colspan="2">
                <%= prediction.teamh_score%>
              </td>
            </tr>

            <tr class="pg-table-bottom">
              <td class="pg-important-data" colspan="2">
                <%if prediction.game_winner == prediction.teama %>+<%else%>-<%end%><%=prediction.spread%>
              </td>
              <td colspan="2">
                Spread
              </td>
              <td class="pg-important-data" colspan="2">
                <%if prediction.game_winner == prediction.teamh %>+<%else%>-<%end%><%=prediction.spread%>
              </td>
            </tr>

            <tr>
              <td colspan="6">
                Over/Under <br>
                <a class="pg-important-data"><%=prediction.overunder%></a>
              </td>
            </tr>

          <%else%>

            <tr>
              <td rowspan="3" colspan="6">
                <%= render 'predictors/predictor_subscribe_cta'%>
              </td>
            </tr>

          <%end%>

        </table>

      </div>

  <%end%>

<%end%>