
<table class ="prediction-index-fold">
  <thead>
    <tr>
      <% if @displaypredictor %>
        <th class="prediction-index-fold-th">Predictor</th>
      <% end %>

      <th class="prediction-index-fold-th">Prediction Date</th>
      
      <% unless @matchup_hide %>
        <th class="prediction-index-fold-th">Matchup</th>
      <% end %>

      <th class="prediction-index-fold-th">Game Date</th>
      <th class="prediction-index-fold-th">Onyx Rating</th>
    </tr>
  </thead>

  <tbody>

    <% if @predictions.count == 0 %>

      <tr class="prediction-table-row">
        <% if @displaypredictor and not @matchup_hide %>
          <td colspan="5" class="no-active-games">No Predictions</td>
        <%else%>
          <td colspan="4" class="no-active-games">No Predictions</td>
        <%end%>
      </tr>

    <% else %>

      <% @predictions.each do |prediction| %>

        <% @predictor = Predictor.find(prediction.predictor_id) %>

        <tr data-link="<%=predictiongamesshow_path(@predictor.username,prediction.id)%>", class="prediction-table-row">
          <% if @displaypredictor %>
            <td> <%= image_tag @predictor.image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= @predictor.username %></a></td>
          <% end %>
          <td><%= prediction.created_at.strftime("%D") %></td>

          <% unless @matchup_hide %>
            <td class="index-matchup"><a class="index-float"><%= prediction.teama %></a><%= image_tag Team.find_by_name(prediction.teama).image.url(:medium), class: "predictor-image-tiny"%> <b>@</b> <%= image_tag Team.find_by_name(prediction.teamh).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= prediction.teamh %></a></td>
          <% end %>
          <td><%= prediction.event_time.strftime("%D") %></td>
          <td><% if prediction.onyx%><%= prediction.onyx.to_i.to_s + "/100"%><%else%>Pending<%end%></td>
        </tr>

      <%end%>

    <%end%>

  </tbody>

</table>