
<div class ="prediction-game-index-show">
          
  <div class="prediction-game-index-show-header">
    
    <table>
        <tr>
          <td> 
            
            <%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%>
            <b><%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %></b> 

            &#183; <%= prediction.created_at.strftime("%b %e") %> 

            &#183; <%= image_tag Sport.find_by_subcat(prediction.league).image.url(:medium, :width => 30, :height => 30), class: "sport-image-tiny"%><%= prediction.league %> Prediction

            <%if prediction.paid %>
              
              &#183; <img src="https://s3.amazonaws.com/projectonyx/Premium-Star.png" height="16" width="16"></img> Premium

            <%end%>

          </td>
        </tr>
    </table>

  </div>

  <div>

    <a class="no-style" href = "<%= predictiongamesshow_path(predictor.username, prediction.id)%>">

      <table class ="prediction-game-index-show-table">

        <tr>
          <td colspan="2" class="prediction-game-team-header">
            
          </td>

          <td colspan="1" class="prediction-game-date">
            <b>Game Date: </b><%= prediction.event_time.strftime("%b %e, %Y ") %>
          </td>

          <td colspan="2" class="prediction-game-team-header">
            
          </td>
        </tr>

        <tr>
          <td rowspan="3" class="prediction-game-team-image">
            
            <%= image_tag Team.find(game.teama_id).image.url(:medium), class: "team-image-tiny"%>
            
          </td>

          <td class="prediction-game-minor">
            <%= Team.find(game.teama_id).sub_name%>
          </td>

          <td width="250px">
            
          </td>

          <td class="prediction-game-minor">
            <%= Team.find(game.teamh_id).sub_name%>
          </td>

          <td rowspan="3" class="prediction-game-team-image">
            
            <%= image_tag Team.find(game.teamh_id).image.url(:medium), class: "team-image-tiny"%>
            
          </td>

        </tr>

        <tr>
          
          <td class="prediction-game-show-center">
            <%= Team.find(game.teama_id).name%>
          </td>

          <td class="prediction-game-show-center" height="50">

            <% if user_signed_in? %>
            
              <% if prediction.paid and not current_user.subscribed(predictor.id) %>

                <%= render partial: 'predictors/predictor_subscribe_cta', locals: {predictor: predictor} %>

              <%else%>

                <%= prediction.teama_score%> - <%= prediction.teamh_score%>

              <%end%>
            
            <%elsif predictor_signed_in?%>

              <%if current_predictor.id == predictor.id %>

                <%= prediction.teama_score%> - <%= prediction.teamh_score%>

              <%else%>

                nope

              <%end%>

            <% elsif admin_signed_in? %>

              <%= prediction.teama_score%> - <%= prediction.teamh_score%>

            <% else %>

              <% unless prediction.paid and not prediction.status=="c" %>

                <%= prediction.teama_score%> - <%= prediction.teamh_score%>

              <% else %>

                <%= render 'predictors/predictor_login_cta'%>

              <% end %>

            <%end%>
            
          </td>

          <td class="prediction-game-show-center">
            <%= Team.find(game.teamh_id).name%>
          </td>
        </tr>

        <tr>
          
          <td class="prediction-game-minor">
            (Away)
          </td>

          <td class="prediction-game-minor">

              Final Score (Predicted)

            <%if prediction.onyx %>
              
              <br>

              <a class="no-style" style="background-color:#00D43C; color:white; padding: 5px;">Futable Rating: <%=prediction.onyx%></a>

            <%end%>
            
          </td>

          <td class="prediction-game-minor">
            (Home)
          </td>
        </tr>

      </table>

    </a>

  </div>

</div>