<table class ="game-show-table">

  <tr class="game-show-table-subhead">
    <th class="table-clear"></th>
    <th class="right-outline table-green" colspan="3">Prediction</th>
    <th class="table-blue" colspan="3">Actual</th>
  </tr>

  <tr class="game-show-table-subhead-detail">
    <th class="table-clear"></th>
    <th class="table-green-lite">Final Score</th>
    <th class="table-green-lite">Winner</th>
    <th class="right-outline table-green-lite">Spread</th>
    <th class="table-blue-lite">Final Score</th>
    <th class="table-blue-lite">Winner</th>
    <th class="table-blue-lite">Spread</th>
  </tr>

  <% if @game.status == "c" %>

    <tr class="game-show-table-row home">
      <td class="game-row"><%=@game.teamh%><%= image_tag @teamh.image, class: "team-image-tiny"%></td>
      <td class="table-green-liter"><%=@prediction_game.teamh_score%></td>
      <td class="table-green-liter"><%if @prediction_game.game_winner == @game.teamh %>&#10004;<%end%></td>
      <td class="table-green-liter right-outline"><%if @prediction_game.game_winner == @game.teamh %><%=@prediction_game.spread%><%end%></td>
      <td class="table-blue-liter"><%=@game.teamh_score%></td>
      <td class="table-blue-liter"><%if @game.game_winner == @game.teamh %>&#10004;<%end%></td>
      <td class="table-blue-liter"><%if @game.game_winner == @game.teamh %><%=@game.score_spread%><%end%></td>
    </tr>

    <tr class="game-show-table-row away">
      <td class="game-row"><%=@game.teama%><%= image_tag @teama.image, class: "team-image-tiny"%></td>
      <td class="table-green-liter"><%=@prediction_game.teama_score%></td>
      <td class="table-green-liter"><%if @prediction_game.game_winner == @game.teama %>&#10004;<%end%></td>
      <td class="table-green-liter right-outline"><%if @prediction_game.game_winner == @game.teama %><%=@prediction_game.spread%><%end%></td>
      <td class="table-blue-liter"><%=@game.teama_score%></td>
      <td class="table-blue-liter"><%if @game.game_winner == @game.teama %>&#10004;<%end%></td>
      <td class="table-blue-liter"><%if @game.game_winner == @game.teama %><%=@game.score_spread%><%end%></td>
    </tr>

  <% elsif @game.status == "o" %>  
 
    <%if @prediction_game.visible(@usertype, @prediction_game.cost>0, @prediction_game.id, @access) %>

      <tr class="game-show-table-row home">
        <td class="game-row"><%=@game.teamh%><%= image_tag @teamh.image, class: "team-image-tiny"%></td>
        <td><%=@prediction_game.teamh_score%></td>
        <td><%if @prediction_game.game_winner == @game.teamh %>&#10004;<%end%></td>
        <td class="right-outline"><%if @prediction_game.game_winner == @game.teamh %><%=@prediction_game.spread%><%end%></td>
        <td class="results-pending" colspan="3" rowspan="2">Pending</td>
      </tr>

      <tr class="game-show-table-row away">
      <td class="game-row"><%=@game.teama%><%= image_tag @teama.image, class: "team-image-tiny"%></td>
      <td><%=@prediction_game.teama_score%></td>
      <td color=green><%if @prediction_game.game_winner == @game.teama %>&#10004;<%end%></td>
      <td class="right-outline"><%if @prediction_game.game_winner == @game.teama %><%=@prediction_game.spread%><%end%></td>
      </tr>

    <%else%>

      <tr class="game-show-table-row home">
        <td class="game-row"><%=@game.teamh%><%= image_tag @teamh.image, class: "team-image-tiny"%></td>
        
        <% if @usertype == "user" or @usertype == "none" %>
          <td class="results-pending" colspan="3" rowspan="2"> <%= link_to "Buy It for " + number_to_currency(@prediction_game.cost).to_s, buy_prediction_game_path(:id=>@prediction_game.id), {:class=>"buy_prediction_cta" }%></td>
        <% else %>
          <td class="results-pending" colspan="3" rowspan="2">Closed</td>
        <%end%>

        <td class="results-pending" colspan="3" rowspan="2">Pending</td>
      </tr>

      <tr class="game-show-table-row away">
        <td class="game-row"><%=@game.teama%><%= image_tag @teama.image, class: "team-image-tiny"%></td>
      </tr>

    <%end%>

    
  <% end %>

</table>