<tr data-link="<%=predictiongamesshow_path(predictor.username, prediction.id)%>", class="table-cta-hover">
  <td>
    <%= image_tag Team.find(game.teama_id).image.url(:medium), class: "predictor-image-tiny"%><a class="team-name"><%= prediction.teama %></a>
  </td>

  <td>
    @
  </td>

  <td>
    <a class="team-name"><%= prediction.teamh %></a> <%= image_tag Team.find(game.teamh_id).image.url(:medium), class: "predictor-image-tiny"%>
  </td>

  <td>
    <%= prediction.onyx.to_i %>
  </td>

</tr>
