
<div class="prediction-index-table-holder">

  <table class ="prediction-index-fold">
    <thead>
    <tr>
      <th class="prediction-index-fold-th">Prediction Date</th>
      <th class="prediction-index-fold-th">Matchup</th>
      <th class="prediction-index-fold-th">Date</th>
      <th class="prediction-index-fold-th">Time (EST)</th>
      
    </tr>
    </thead>

      <tbody>

          <% @predictions.each do |prediction| %>

          <tr data-link="<%=predictiongamesshow_path(Predictor.find(prediction.predictor_id).username,prediction.id)%>", class="prediction-table-row">
            <td> <%= prediction.created_at.strftime("%D") %></td>
            <td> <%= prediction.teamh %> at <%= prediction.teama %></td>
            <td> <%= prediction.event_time.strftime("%D") %></td>
            <td> <%= prediction.event_time.strftime("%l:%M %p") %></td>
          </tr>

          <% end %>

      </tbody>

  </table>

</div>