<table class ="game-show-table">
  Prediction Game Rating
  <thead>
    <tr>
      <th class="game-show-table-label" colspan="4"><%="Prediction Results"%></th>
    </tr>
    <tr class="game-show-table-subhead">
      <th></th>
      <th><%=@game.teama%></th>
      <th>@</th>
      <th><%=@game.teamh%></th>

    </tr>
  </thead>

  <tbody>

    <tr class="game-show-table-row">
      <td>Score Differential</td>
      <td><%= @prediction_game.teama_score %></td>
      <td></td>
      <td><%= @prediction_game.teamh_score %></td>
    </tr>

    <tr class="game-show-table-row">
      <td>Winner</td>
      <td><%# %></td>
      <td> <%= @prediction_game.game_winner %></td>
      <td><%# %></td>
    </tr>

    <tr class="game-show-table-row">
      <td>Spread Differential</td>
      <td></td>
      <td> <%= @prediction_game.spread %></td>
      <td></td>
    </tr>

    <tr class="game-show-table-row">
      <td>Rating</td>
      <td></td>
      <td> <%= @prediction_game.spread %></td>
      <td></td>
    </tr>

  </tbody>
</table>