<%= render 'layouts/header_sub' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<%# render 'devise/user_subscription_nav'%>

<!-- 		<div class="user-dashboard-left">

			<%# render 'devise/user_dashboard_header'%>

			<%# render 'games/upcoming_games'%>

		</div> -->

		<div class ="user-dashboard-predictions">

			<%# render 'pages/user_dashboard_summary' %>

			<%# render 'pages/user_dashboard_prediction_nav' %>

			<%= render 'prediction_games/indexshow' %>

			<%# render 'prediction_games/index'%>

		</div>

		<div class ="user-dashboard-card">

			<%= render 'pages/user_dashboard_summary' %>

			<%= render 'predictors/recommendations' %>

			<%= render 'games/upcoming_games'%>

			<%= render 'layouts/footer_float'%>

		</div>

	</div>
</div>