
<% if predictor_signed_in? %>

<div class="container-dash">

      <h1>My Predictions</h1>

      <div class="prediction-section-header">
          <a class="prediction-header-active">Open Predictions</a>
          <%= link_to "Closed Predictions", myclosedpredictions_path, class: "prediction-header-inactive" %>
      </div>

      <table class ="prediction-index-fold table table-hover">
        
        <thead>
        <tr>

          <th class="table-holder"></th>
          
          <th class="prediction-index-fold-th">League</th>
          <th class="prediction-index-fold-th">Event Date</th>
          <th class="prediction-index-fold-th">Home Team</th>
          <th class="prediction-index-fold-th">Away Team</th>
          <th class="prediction-index-fold-th">Prediction Date</th>
          <th class="prediction-index-fold-th"></th>
          
        </tr>
        </thead>


        <% @prediction_games.each do |prediction_game| %>

          <% if prediction_game.predictor_id == current_predictor.id && (prediction_game.status == nil or prediction_game.status == "o")  %>

                <tbody>
                
                <tr class="prediction-table-row" href="/">
                    <td> <img src="https://s3.amazonaws.com/projectonyx/glyphicons-224-chevron-right.png" height="9" width="10">  </td>
                    
                    <td><%= prediction_game.league %></td>
                    <td><%= prediction_game.event_time.strftime("%D") %></td>
                    <td><%= prediction_game.teamh %></td>
                    <td><%= prediction_game.teama %></td>
                    <td> <%= prediction_game.created_at.strftime("%D") %></td>
                    <td><%= link_to 'Show Details',  prediction_game %></td>
                    
                  </div>
                </tr>

                </tbody>

              <% end %>

            <% end %>

          </table>

      <br>

      <%= link_to 'New Prediction game', gameselect_path %>

</div>

<% end %>


<% if user_signed_in? %>

<%= render 'predictors/editnavside' %>

  <div class = "edit-container">

    <div class="edit-panel">

      <h1>Find Sports Predictions</h1>

      <%= will_paginate @predictions %>

      <%= render 'prediction_games/index'%>

      <%= will_paginate @predictions %>

      </div>

</div>

<% end %>


<% if admin_signed_in? %>

<div class="container-dash">

      <h1>Admin Sports Predictions</h1>

      <div class="prediction-table-holder">

        <table class ="prediction-index-fold table table-hover">
          <thead>
          <tr>

            <th class="table-holder"></th>
            
            <th class="prediction-index-fold-th">League</th>
            <th class="prediction-index-fold-th">Event Date</th>
            <th class="prediction-index-fold-th">Home Team</th>
            <th class="prediction-index-fold-th">Away Team</th>
            <th class="prediction-index-fold-th">Prediction Date</th>
            <th class="prediction-index-fold-th">Status</th>
            <th class="prediction-index-fold-th">Predictor ID</th>
            <th class="prediction-index-fold-th"></th>
            
          </tr>
          </thead>


          <% @prediction_games.each do |prediction_game| %>

            <tbody>
                  
              <tr class="prediction-table-row" href="/">
                <td> <img src="https://s3.amazonaws.com/projectonyx/glyphicons-224-chevron-right.png" height="9" width="10">  </td>
                      
                  <td><%= prediction_game.league %></td>
                  <td><%= prediction_game.event_time %></td>
                  <td><%= prediction_game.teamh %></td>
                  <td><%= prediction_game.teama %></td>
                  <td> <%= prediction_game.created_at.strftime("%D") %></td>
                  <td><%= prediction_game.status %></td>
                  <td><%= prediction_game.predictor_id %></td>
                  <td><%= link_to 'Show Details',  prediction_game %></td>
                  <td><%= link_to 'Destroy', prediction_game, method: :delete %></td>
                      
                </div>
              </tr>

            </tbody>

          <% end %>

          </table>

      </div>

  </div>

<% end %>


