<p id="notice"><%= notice %></p>

<h1> Prediction Detail </h1>

<div class="prediction-holder">

                <div class="prediction-header">

                  <table>
                    <thead>
                    <tr>
                      <th>Prediction Date</th>
                      <th>League</th>

                      <% if user_signed_in? %>
                        <th>Predictor Rating</th>
                        <th>Prediction Rating</th>
                      <%end%>

                      <th>Prediction ID</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.created_at.strftime("%D") %></td>
                    <td><%= @prediction_game.league %></td>

                    <% if user_signed_in? %>
                        <td><%= @prediction_game.league %></td>
                        <td><%= @prediction_game.league %></td>
                      <%end%>

                    <td>1000-<%= @prediction_game.id %> </td>
                    
                    <td>
                      <% if @prediction_game.status == "c" %>
                        rating image placeholder
                      <% else %>
                        <%= link_to "Prediction Detail", @prediction_game, class: "prediction-detail" %>
                      <%end%>
                    </td>
                    
                    
                  </tr>

                  </tbody>

                </table>

                </div>

                <div class="prediction-index-body">



                  <table>
                    <thead>
                    <tr>
                      <th>League</th>
                      <th>Game Date</th>
                      <th>Game Time</th>
                      <th>Home Team</th>
                      <th>Away Team</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.league %> </td>
                    <td> <%= @prediction_game.event_time.strftime("%D")  %></td>
                    <td> <%= @prediction_game.event_time.strftime("%l:%d %p %Z") %></td>
                    <td> <%= @prediction_game.teamh %> </td>
                    <td> <%= @prediction_game.teama %> </td>

          
                  </tr>

                  </tbody>

                </table>


                </div>

                <div class="prediction-index-body">



                  <table>
                    <thead>
                    <tr>
                      <th>League</th>
                      <th>Game Date</th>
                      <th>Game Time</th>
                      <th>Home Team</th>
                      <th>Away Team</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.league %> </td>
                    <td> <%= @prediction_game.event_time.strftime("%D")  %></td>
                    <td> <%= @prediction_game.event_time.strftime("%l:%d %p %Z") %></td>
                    <td> <%= @prediction_game.teamh %> </td>
                    <td> <%= @prediction_game.teama %> </td>

          
                  </tr>

                  </tbody>

                </table>

              </div>

              </div>

<p>
  <strong>Game winner:</strong>
  <%= @prediction_game.game_winner %>
</p>

<p>
  <strong>Teama score:</strong>
  <%= @prediction_game.teama_score %>
</p>

<p>
  <strong>Teamh score:</strong>
  <%= @prediction_game.teamh_score %>
</p>

<strong>Spread</strong>
  <%= @prediction_game.spread %>
</p>

<strong>Predictor Id</strong>
  <%= @prediction_game.predictor_id %>
</p>

<strong>Event Time</strong>
  <%= @prediction_game.event_time %>
</p>

<strong>Game id</strong>
  <%= @prediction_game.game_id %>
</p>

<strong>League</strong>
  <%= @prediction_game.league%>
</p>

<strong>Status</strong>
  <%= @prediction_game.status %>
</p>



<%= link_to 'Edit', edit_prediction_game_path(@prediction_game) %> |
<%= link_to 'Back', prediction_games_path %>
