<p id="notice"><%= notice %></p>

<h1> Prediction Detail </h1>

<div class="prediction-holder">

                <div class="prediction-header">

                  <table>
                    <thead>
                    <tr>
                      <th>Prediction Date</th>
                      <th>League</th>

                      <% if predictor_signed_in? %>

                        <th>Prediction ID</th>

                      <% end%>


                      <% if user_signed_in? %>
                        <th>Predictor</th>
                        <th>Predictor Rating</th>
                        <th>Prediction Rating</th>
                      <%end%>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.created_at.strftime("%D") %></td>
                    <td><%= @prediction_game.league %></td>

                    <% if user_signed_in? %>
                        <td> Predictor Username Placeholder </td>
                        <td><%= @prediction_game.league %></td>
                        <td><%= @prediction_game.league %></td>
                      <%end%>


                      <% if predictor_signed_in? %>

                        <td>1000-<%= @prediction_game.id %> </td>

                      <% end%>
                    
                    <td>
                      <% if @prediction_game.status == "c" %>
                        rating image placeholder
                      <% else %>
                        rating image pending
                      <%end%>
                    </td>
                    
                    
                  </tr>

                  </tbody>

                </table>

                </div>

                <div class="prediction-index-body">



                  <table>
                    <thead>
                    <tr>
                      <th>Game Date</th>
                      <th>Game Time</th>
                      <th>Home Team</th>
                      <th>Away Team</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.event_time.strftime("%D")  %></td>
                    <td> <%= @prediction_game.event_time.strftime("%l:%d %p %Z") %></td>
                    <td> <%= @prediction_game.teamh %> </td>
                    <td> <%= @prediction_game.teama %> </td>

          
                  </tr>

                  </tbody>

                </table>

                <h2> Prediction Details </h2>

                  <table>
                    <thead>
                    <tr>
                      <th>Home Team Score</th>
                      <th>Away Team Score</th>
                      <th>Spread</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    <td> <%= @prediction_game.teamh_score %> </td>
                    <td> <%= @prediction_game.teama_score %> </td>
                    <td> <%= @prediction_game.spread %></td>

          
                  </tr>

                  </tbody>

                </table>

                <h2> Result Details </h2>

                  <table>
                    <thead>
                    <tr>
                      <th>Home Team Score (Actual)</th>
                      <th>Away Team Score (Actual)</th>
                      <th>Spread (Actual)</th>

                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>

                  <tr>
                    
                    <% if @prediction_game.teamh_score.nil? %>
                      <td> <%= @prediction_game.teamh_tscore %> </td>
                      <td> <%= @prediction_game.teama_tscore %> </td>
                      <td> <%= @prediction_game.spreadt %></td>

                    <% else %>
                      <td>Pending</td>
                      <td>Pending</td>
                      <td>Pending</td>
                    <% end %>

          
                  </tr>

                  </tbody>

                </table>

              </div>

              </div>
