<p id="notice"><%= notice %></p>

<h1> Sports Prediction Details </h1>

<div class="prediction-holder">

  <div class="prediction-header">

    <div class="prediction-header-form">

    <table>
      <thead>
      <tr>
        
        

        <% if predictor_signed_in? %>

          <th>Prediction ID</th>

        <% end%>


        <% if user_signed_in? %>

          <th>Predictor</th>
          <th>Predictor Rating</th>
          <th>Prediction Type</th>
          
          <% if @prediction_game.status == "c" %>

            <th>Prediction Rating</th>

          <% end %>

        <%end%>

      </tr>
    </thead>

    <tbody>

    <tr>
      
      <td> Predictor Username/Image Placeholder </td>
      <td> 55.5X? </td>
      <td>Single Game</td>

      <% if user_signed_in? %>
        
        

      <%end%>


        <% if predictor_signed_in? %>


        <% end%>
      
      
        <% if @prediction_game.status == "c" %>

          <td>
            rating image placeholder
          </td>

        <%end%>
      
    </tr>

    </tbody>

  </table>

  </div>

  </div>

    <div class="prediction-index-body">

      <table>
        <thead>
          <tr>
            <th>League</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Game Date</th>
            <th>Game Time</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td> <%= @prediction_game.league %> </td>
            <td> <%= @prediction_game.teamh %> </td>
            <td> <%= @prediction_game.teama %> </td>
            <td> <%= @prediction_game.event_time.strftime("%D")  %></td>
            <td> <%= @prediction_game.event_time.strftime("%l:%d %p %Z") %></td>
          </tr>

        </tbody>

      </table>

    <h2> Predicted Score </h2>

      <table>
        <thead>
          <tr>
            <th>Home Team Score</th>
            <th>Away Team Score</th>
            <th>Spread</th>
          </tr>
        </thead>

        <tbody>

          <% if predictor_signed_in? && current_predictor.id == prediction_game.predictor_id or admin_signed_in?  %>

            <tr>
              <td> <%= @prediction_game.teamh_score %> </td>
              <td> <%= @prediction_game.teama_score %> </td>
              <td> <%= @prediction_game.spread %></td>

            </tr>

          <% elsif user_signed_in?  %>

            <tr>
              <td> ? </td>
              <td> ? </td>
              <td> ? </td>
              <td> <%= link_to "BUY PREDICTION", about_path, class: "buy_prediction_cta" %> </td>

            </tr>

          <%end%>

      </tbody>

    </table>

  <h2> Final Score </h2>

    <table>
      <thead>
        <tr>
          <th>Home Team Score</th>
          <th>Away Team Score</th>
          <th>Spread</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          
          <% if @prediction_game.teamh_tscore.nil? %>
            <td>Pending</td>
            <td>Pending</td>
            <td>Pending</td>  

          <% else %>
            <td> <%= @prediction_game.teamh_tscore %> </td>
            <td> <%= @prediction_game.teama_tscore %> </td>
            <td> <%= @prediction_game.spreadt %></td>
            
          <% end %>
        </tr>

      </tbody>

    </table>

  </div>

              </div>
