<%= render 'predictors/predictorcover' %>

<div class = "content-container">

  <div class="content-panel">

    <h2 class="prediction-index-header-text"><%= @predictor.name %>'s <%= @game.league %> Prediction</h2>
    <h4><%= @game.teamh %> versus <%= @game.teama %> on <%= @game.event_time.strftime("%D") %></h4>
    <%= render 'predictiongameshowgamedetails' %>

  </div>
  
</div>
