<%= render 'pages/league_home_header' %>

<div class = "content-container">

	<%=render 'games/gameshowcover'%>

  <div class="content-panel">

  	<div class ="content-title-header">
		<h3><%= @predictor.name %>'s Prediction</h3>
		<h5><%= link_to @predictor.name + "'s Profile »", predictordashboard_path(@predictor.username) %></h5>
	</div>

    <%= render 'predictiongameshowgamedetails' %>

  </div>
  
</div>
