are you listening

<div class="container-dash">

      <h1>My Predictions</h1>


      <div class="prediction-table-holder">

        <table class ="prediction-index-fold table table-hover">
          <thead>
          <tr>

            <th class="table-holder"></th>
            <th class="prediction-index-fold-th">Prediction Date</th>
            <th class="prediction-index-fold-th">League</th>
            <th class="prediction-index-fold-th">Event Date</th>
            <th class="prediction-index-fold-th">Home Team</th>
            <th class="prediction-index-fold-th">Away Team</th>
            <th class="prediction-index-fold-th"></th>
            
          </tr>
          </thead>


          <% @prediction_games.each do |prediction_game| %>

            <% if prediction_game.status == nil %>

                  <tbody>
                  
                  <tr class="prediction-table-row" href="/">
                      <td> <img src="https://s3.amazonaws.com/projectonyx/glyphicons-224-chevron-right.png" height="9" width="10">  </td>
                      <td> <%= prediction_game.created_at.strftime("%D") %></td>
                      <td><%= prediction_game.league %></td>
                      <td><%= prediction_game.event_time.strftime("%D") %></td>
                      <td><%= prediction_game.teamh %></td>
                      <td><%= prediction_game.teama %></td>
                      <td><%= link_to 'Show Details',  prediction_game %></td>
                      
                    </div>
                  </tr>

                  </tbody>

                <% end %>

              <% end %>

              </table>
      </div>

</div>