<script>
$(document).ready(function(){
    $("#addCardLink").click(function(){
        $(".add-card-container").toggle();
    });

    $("#currentPaymentLink").click(function(){
        $(".add-card-container").toggle();
    });

});
</script>


<div class="content-panel-wrap">

	<div class="content-panel">

	  <div class="content-panel-container">
	    
	    <h1>Confirm Premium Upgrade</h1>

	    <h3 style="color:#11a657;"><%=number_to_currency(@plan.cost).to_s + "/month"%></h3>

	    <div class="large-table-container">

	    	<% if @displaycard %>

	    		<input type="radio" name="payment_type" value="current"  id="currentPaymentLink"  checked="checked">Current Payment Method
				
				<br><br>

				<b>Current Payment Method:</b> <br>
				<%=@displaycard.brand + " •••• •••• •••• " + @displaycard.last4 %> <br>
				Expiration Date:<br>
				<%= @displaycard.exp_month.to_s + "/" + @displaycard.exp_year.to_s %>

				<br><br>

				<input type="radio" name="payment_type" value="add" id="addCardLink">Add a Credit Card<br><br>

				<div class="add-card-container" style="display:none">
					<%=render 'cards/newcardform' %>
				</div>

			<% else %>
		      		
				<input type="radio" name="payment_type" value="add" id="addCardLink" checked="checked">Add a Credit Card<br><br>

				<%=render 'cards/newcardform' %>

			<% end %>

	    </div>

	    <div style="text-align:center;">

	    	<%= link_to "Confirm", plan_purchase_path(@plan.id), {:class=>"subscribe_cta" }%>
	     </div>

	  </div>

	</div>

</div>
