
<% if @action == 'home'%>

  <nav class="navbar navbar-default home">

<%else%>

  <nav class="navbar navbar-default">

<%end%>

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li><a href="/">ONYX</a></li>

        <li><a href="/">FAQ</a></li>

        <% if user_signed_in? %>

        <% elsif predictor_signed_in? %>

        <% elsif admin_signed_in? %>

        <% else %>

          <li><a href="#">Blog</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Markets <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Sports</a></li>
              <li><a href="#">Finance</a></li>
              <li><a href="#">Politics</a></li>
            </ul>
          </li>

        <% end %>
        
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right pull-right">

        <% if user_signed_in? %>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Top Predictors<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            <li class="dropdown-submenu"><a>Sports</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "NBA", find_sports_predictors_path("NBA") %></li>
                  <li><%= link_to "NFL", find_sports_predictors_path("NFL") %></li>
                  <li><%= link_to "MLB", find_sports_predictors_path("MLB") %></li>
                  <li><%= link_to "NHL", find_sports_predictors_path("NHL") %></li>
                </ul>
            </li>

            <li class="dropdown-submenu"><a>Finance</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#">Commodities</a></li>
                    <!-- <ul class="dropdown-menu left">
                        <li><a href="#">Metals</a></li>
                        <li><a href="#">Energy</a></li>
                        <li><a href="#">Food</a></li>
                    </ul> -->

                  <li><a href="#">Currencies</a></li>
                  <li><a href="#">Indexes</a></li>
                </ul>

            </li>
            <li class="disabled"><a href="#">Politics</a></li>
            <li class="disabled"><a href="#">Weather</a></li>
          </ul>
        </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find Predictions<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            <li class="dropdown-submenu"><a>Sports</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "NBA", find_prediction_games_path("NBA") %></li>
                  <li><%= link_to "NFL", find_prediction_games_path("NFL") %></li>
                  <li><%= link_to "MLB", find_prediction_games_path("MLB") %></li>
                  <li><%= link_to "NHL", find_prediction_games_path("NHL") %></li>
                </ul>
            </li>

            <li class="dropdown-submenu"><a>Finance</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#">Commodities</a></li>
                    <!-- <ul class="dropdown-menu left">
                        <li><a href="#">Metals</a></li>
                        <li><a href="#">Energy</a></li>
                        <li><a href="#">Food</a></li>
                    </ul> -->

                  <li><a href="#">Currencies</a></li>
                  <li><a href="#">Indexes</a></li>
                </ul>

            </li>
            <li class="disabled"><a href="#">Politics</a></li>
            <li class="disabled"><a href="#">Weather</a></li>
          </ul>
        </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/watchlist">My Watchlist <span class="badge"><%= current_user.prediction_games.count %></span></a></li>
                <li><a href="#">My Subscriptions</a></li>
                <li><%= link_to "My Profile", edit_user_registration_path %></li>
                <li><a href="#">Invite Friends</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#">Help</a></li>
                <li role="presentation" class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% elsif predictor_signed_in? %>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle header-make-prediction" data-toggle="dropdown" role="button" aria-expanded="false">Make a Prediction</a>
            <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Sports", sportsgamesselect_path %></li>
                <li><%= link_to "Finance", edit_predictor_registration_path %></li>
                <li><%= link_to "Politics", edit_predictor_registration_path %></li>
                <li><%= link_to "Weather", edit_predictor_registration_path %></li>
                <li><%= link_to "Entertainment", edit_predictor_registration_path %></li>
            </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag current_predictor.image.url(:thumb), class: "image-header"%><%= current_predictor.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href= <%= predictorindexpredictionsall_path(current_predictor.username) %>> My Predictions <span class="badge"><%= current_predictor.prediction_games.count %></span></a></li>
                <li><a href="#">My Money</a></li>

                <li><%= link_to "Edit Profile", edit_predictor_registration_path %></li>
                <li><a href="#">Invite Friends</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#">Help</a></li>
                <li role="presentation" class="divider"></li>
                <li><%= link_to "Logout", destroy_predictor_session_path, method: :delete %></li>
            </ul>
          </li>

        <% elsif admin_signed_in? %>

          <li><%= link_to "Dashboard", dashboard_path %></li>

          <li><%= link_to "SportsDash", sportdashboard_path %></li>

          <li><%= link_to "Editor", editor_path %></li>

          <li><%= link_to "Account Settings", edit_admin_registration_path %></li>

          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
      

        <% else %>

          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Make Predictions", new_predictor_registration_path, class: "become-predictor" %></li>

        <% end %>
        
      </ul>
    <!-- </div>/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

