<div class="header-container sub">

  <div class="header-inside-sub">

      <% if user_signed_in? %>

        <% if @page =="dashboard"%>
          <ul class="header-right">
            
            <li class= "header-li medium"><%= link_to "Home", root_path, class: "header-sub-Noble active" %></li>

          </ul>

        <% elsif @page =="find"%>
          <ul class="header-right">
            <li class= "header-li medium"><%= link_to "Home", root_path, class: "header-sub-Noble" %></li>
            <li class= "header-li medium active"><%= link_to "Find Experts", home_path, class: "header-sub-Noble active" %></li>
          </ul>

          <% else %>
            <ul class="header-right">
              <li class= "header-li medium"><%= link_to "Home", root_path, class: "header-sub-Noble" %></li>
              <li class= "header-li medium"><%= link_to "Find Experts", home_path, class: "header-sub-Noble" %></li>
            </ul>
        <%end%>

      <% elsif predictor_signed_in? %>

        <%# if @page =="dashboard"%>
          <ul class="header-right">
            
            <li class= "header-li medium"><%= link_to "Home", root_path, class: "header-sub-Noble active" %></li>

          </ul>

        <%#end%>

      <% end %> 

    </div>

</div>