<div class="header-container">

  <div class="header-inside">

    <div class="header-inside-left">

    Name, Logo, Stuff

  </div>

    <div class="header-inside-right">

      <% if user_signed_in? %>


        <%= link_to "Dashboard", dashboard_path %>

        <%= link_to "Account Settings", edit_user_registration_path %>

          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
 

      <% elsif predictor_signed_in? %>


        <%= link_to "Dashboard", dashboard_path %>

        <%= link_to "Account Settings", edit_predictor_registration_path %>

          <%= link_to "Logout", destroy_predictor_session_path, method: :delete %>


        <% elsif admin_signed_in? %>

          <%= link_to "Dashboard", sportdashboard_path %>

          <%= link_to "Editor", editor_path %>

          <%= link_to "Account Settings", edit_admin_registration_path %>

          <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
      

        <% else %>

          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Signup", signup_path %>

        <% end %>


    </div>

  </div>

  <div class="header-below">

      <a href="/about"> All </a>
      <a href="/about"> Sports </a>
      <a href="/about"> Finance </a>
      <a href="/about"> Miscellaneous </a>

  </div>



</div>