
<% if @action == 'home'%>
<div class="header-container">

<%else%>

<div class="header-container2">

<%end%>

  <div class="header-inside">

    <div class="header-inside-left">

      <a href="/">
        SKYNET ONYX
      </a>

  </div>

    <% if @action == 'home'%>
    
      <div class="header-inside-right">

    <%else%>

      <div class="header-inside-right2">

    <%end%>

        <% if user_signed_in? %>


          <%= link_to "My Watchlist", watchlist_path %>

          <%= link_to "Find Predictions", find_predictions_path %>

          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
   

        <% elsif predictor_signed_in? %>

          <%= link_to "My Predictions", dashboard_path %>

          <%= link_to "Logout", destroy_predictor_session_path, method: :delete %>


        <% elsif admin_signed_in? %>

          <%= link_to "Dashboard", sportdashboard_path %>

          <%= link_to "Editor", editor_path %>

          <%= link_to "Account Settings", edit_admin_registration_path %>

          <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
        

        <% else %>

          <a href="/about"> About </a>
          <a href="/about"> Markets </a>
          <a href="/about"> Blog </a>

          <%= link_to "Login", new_user_session_path %>

          <%= link_to "Signup", new_user_registration_path, class: "signup-header" %>

        <% end %>

    </div>

  </div>

  



</div>