<div class="category-header-container dark">

	<div class="category-header">

	  <ul class="category-header-items">

	  	<% unless @related_topics.nil? %>

	  		<% @related_topics.each do |topic| %>

	  			<li ><a class="category-item light" href="<%= topic_show_page_path(topic.url)%>"><%= topic.name %></a></li>

	  		<% end %>

	  	<%else%>

	      <li><a class="category-item light" href="<%= topic_show_page_path("sports")%>">Sports</a></li>

	      <li><a class="category-item light" href="<%= topic_show_page_path("finance")%>">Finance</a></li>

	      <li><a class="category-item light" href="<%= topic_show_page_path("economics")%>">Economics</a></li>

	      <li><a class="category-item light" href="<%= topic_show_page_path("fantasy_sports")%>">Fantasy Sports</a></li>

		<%end%>

	  </ul>

	</div>

</div>