<!DOCTYPE html>
<html>
<head>
  <title>ProjectOnyx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header_boot' %>
<%= render 'layouts/content_header' %>
<%# render 'layouts/header_boot_under' %>

<body>

<div class="container">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>

</html>
