<!DOCTYPE html>
<html>
<head>
  <title>Futable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64774434-1', 'auto');
  ga('send', 'pageview');

  </script>


  <!-- <script data-turbolinks-track="true" type="text/javascript" src="vendor/assets/bower_components/platform/platform.js"/>
  <script type="text/javascript" src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <script type="text/javascript" src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <script type="text/javascript" src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <link rel="import" href="bower_components/paper-button/paper-button.html"> -->

</head>

<body>
  <%= render 'layouts/header' %>
  <%# render 'layouts/header_sub' %>
  <div class="container">
  	<%= yield %>
    
  </div>

<%# render 'layouts/footer' %>

</body>

  

</html>
